<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}3 "А" класс{% endblock %}

{% block content %}
<h1 class="text-center">3 "А" класс</h1>
<h1 class="text-center">Классный руководитель: Ангелина Васильевна Акимова</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=Hg67DGjRmeg">Здравствуй школа! Вас приветствует 1 А класс.</a>
        </li>
    </ul>
</div>
{% endblock %}