<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}8 "А" класс{% endblock %}

{% block content %}
<h1 class="text-center">8 "А" класс</h1>
<h1 class="text-center">Классный руководитель: Панихина Татьяна Петровна</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=DXLf8rbZirk">7 "А" класс. Смотр строя и песни</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=v322UiERNGo">С Днем учителя! 6 А класс</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=d3sW3-QecoU">С праздником, дорогие мамы и бабушки! 6 А класс</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=ddeWNcg-LfU">Такой таинственный, далёкий этот космос. 5 А </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=v9kADOi7LLY">С Днём Защитника Отечества!</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=dAX-xnIf0gU">День Героев Отечества. 5"А" класс</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=-g830lP2zoQ">Онлайн поздравление наших мам и бабушек с праздником.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=7fAbpoG5Z1k">5А класс День матери</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=CT2hrp8Ns98">Экскурсия в библиотеку 4 А класса</a>
        </li>
    </ul>
    <br>
    <p>Выступление учеников 3 класса на городском литературном конкурсе стихотворений «Оружие победы». посвящённого Параду Памяти 7 ноября 1941 года. Лауреаты II степени.</p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=sFICDG5AUoI">Женя и Антон Конкурс "Оружие победы" Диплом II степени.</a>
        </li>
    </ul>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=DdhgowKz4UA">Музей. Выставка , посвящённая кошкам. 1а класс школа №70 г.о.Самара</a>
        </li>
    </ul>
</div>
{% endblock %}