<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Баранова Надежда Васильевна{% endblock %}

{% block content %}
<h1 class="text-center">Баранова Надежда Васильевна</h1>
<div style="margin-top: 30px; display: flex; flex-direction: row-reverse; justify-content: space-between;">
    <div style="max-width: 500px;">
        <img src="{{ url_for('static', filename='img/baranova.png') }}" alt="baranova.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <div>
        <h5>Ф.И.О.</h5>
        <p>Баранова Надежда Васильевна</p>
        <h5>Должность</h5>
        <p>Учитель начальных классов</p>
        <h5>Предмет</h5>
        <p>Начальные классы, английский язык</p>
        <h5>Образовани</h5>
        <p>Высшее</p>
        <h5>Категория</h5>
        <p>Высшая категория</p>
        <h5>Награды</h5>
        <p>Почетный работник общего образования РФ</p>
        <h5>Личные достижения</h5>
        <p>1. Благодарственное письмо Администрации городского округа Самара, 2006</p>
        <p>2. Благодарственное письмо Центра развития образования, Самара, 2007</p>
        <p>3. Благодарственное письмо Думы городского округа Самара, 2008</p>
        <p>4. Благодарственное письмо Администрации городского округа Самара, 2009</p>
        <p>5. Благодарственное письмо кафедры технологий развивающего обучения ГОУ СИПКРО, Самара, 2010</p>
        <p>6. Грамота за презентацию авторского проекта на Региональной Ярмарке социально-педагогических инноваций, Самара, 2012</p>
        <p>7. Благодарственное письмо кафедры начального образования СИПКРО, Самара, 2013</p>
        <p>8. Благодарность № 10-28974 как организатору международного игры-конкурса по информатике «Инфознайка 2014»</p>
        <p>9. Диплом участника VII Международной «Читаем детям о войне» (Министерство культуры Самарской области ГБУК «Самарская областная детская библиотека)</p>
        <p>10. Благодарственное письмо Администрации ТОС № 5 «Струковский» Ленинского района г.о. Самара, 2016</p>
        <p>11. Благодарственное письмо МБУ ДО «ДШИ № 12» ДЕОЦ «Воскресение» г.о. Самара, 2016</p>
        <h5>Публикации</h5>
        <p>"Формирование культуры здорового и безопасного образа жизни через использование здоровьесберегающих технологий и проектной деятельности" - статья в сборнике XI Международной научно-практической конференции «Здоровое поколение – международные ориентиры XXI века», 2013 год, СИПКРО.</p>
        <ul class="info-list">
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Публикации</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Технологическая карта урока - «Е.Л. Шварц «Сказка о потерянном времени». Нравственный смысл произведения» (Городской дистанционный конкурс уроков «Учу, учусь, достигаю…" 2018 год).</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://youtu.be/xSfDIJrpBRU">Открытый урок</a>
            </li>
        </ul>
        <h5>Достижения учащихся</h5>
        <ul class="info-list">
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Достижения учащихся</a>
            </li>
        </ul>
    </div>
    

</div>
{% endblock %}