<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Кандалова Ольга Ивановна{% endblock %}

{% block content %}
<h1 class="text-center">Кандалова Ольга Ивановна</h1>
<div style="margin-top: 30px; display: flex; flex-direction: row-reverse; justify-content: space-between;">
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/kandalova.png') }}" alt="kandalova.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <div>
        <h5>Ф.И.О.</h5>
        <p>Кандалова Ольга Ивановна</p>
        <h5>Должность</h5>
        <p>Учитель начальных классов</p>
        <h5>Предмет</h5>
        <p>Начальные классы</p>
        <h5>Образовани</h5>
        <p>Высшее.</p>
        <h5>Педагогический стаж</h5>
        <p>30 лет</p>
        <h5>Категория</h5>
        <p>Высшая категория</p>
        <h5>Награды</h5>
        <p>отраслевая награда «Почетный работник общего образования Российской Федерации» за заслуги в области образования</p>
        <h5>Личные достижения</h5>
        <p>1. Благодарственное письмо Администрации Ленинского района г.о. Самара, Самара 2011</p>
        <p>2. Удостоверение к отраслевой награде Министерства образования и науки Российской Федерации почетное звание «Почетный работник общего образования Российской Федерации»</p>
        <p>3. Благодарственное письмо Администрации Автогородка «Безопасное детство», Самара 2013</p>
        <p>4. Благодарность № 10-28974 как организатору международного игры-конкурса по информатике «Инфознайка 2014»</p>
        <p>5. Сертификат организатора конкурса «Золотое Руно-2015»</p>
        <h5>Публикации</h5>
        <ul class="info-list">
            <li>
                <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://www.metod-kopilka.ru/programma-vneurochnoy-deyatelnosti-dobrota-spaset-mir-klass-59872.html">Metod-kopilka.ru // Методическая разработка: Программа внеурочной деятельности «Доброта спасет мир» (1-4 класс)</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://infourok.ru/rabochaya-programma-vneurochnoy-deyatelnosti-dobrota-spaset-mir-300878.html">Infourok.ru // Методическая разработка: Программа внеурочной деятельности «Доброта спасет мир» (1-4 класс)</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://www.metod-kopilka.ru/konspekt-uroka-po-mftemftike-na-temy-reshenie-zadach-na-vstrechnoe-dvizhenie-umnozhenie-mnogoznachnih-chisel-okanchivayuschihsya-59871.html">Metod-kopilka.ru // Конспект урока по математике на тему «Решение задач на встречное движение. Умножение многозначных чисел, оканчивающихся нулями»</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://infourok.ru/konspekt-uroka-pravopisanie-padezhnih-okonchaniy-imen-suschestvitelnih-574317.html">Infourok.ru // Конспект урока по русскому языку на тему «Правописание падежных окончаний имен существительных» (4 класс)</a>
            </li>
        </ul>
        <h5>Достижения учащихся</h5>
        <p>1. 3 место Реутова Елена на VIII городской ученической конференции «Физическая культура, здоровье и спорт» </p>
        <p>2. Обладатель Гран-при Коновалова Любовь Межрайонный смотр-конкурс юных исполнителей «Открытое окно», посвященный 105летию со дня рождения Агнии Львовны Барто</p>
        <p>3. Диплом лауреата 2 степени Коновалова Любовь Всероссийский открытый конкурс «Первые шаги - 2011»</p>
        <p>4. Диплом III место Медведев Вячеслав Открытый городской интеллектуально-творческий конкурс «Юный краевед»</p>
        <p>5. Диплом I место Зайцев Егор Областной конкурс Новогодних и Рождественских композиций «Новогодняя сказка»</p>
        <p>6. Диплом I место Тулумджян Тимур Открытый городской интеллектуально-творческий конкурс «Юный краевед»</p>
        <p>7. Диплом I место Якубина Марина Городской конкурс для начинающих гуманитариев «Золотой ключик»</p>
        <p>8. Диплом I место Абдрахманов Эмиль Городской конкурс для начинающих гуманитариев «Золотой ключик»</p>
        <p>9. Диплом II место Назарян Анна Городской конкурс для начинающих гуманитариев «Золотой ключик»</p>
        <p>10. Диплом II место Синявская Ксения IX городская ученическая конференция «Физическая культура, здоровье и спорт»</p>
        <p>11. Грамота III место Назарян Анна Открытый городской фестиваль «Улицы моего города»</p>
    </div>
</div>
{% endblock %}