<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Косилова Елена Васильевна{% endblock %}

{% block content %}
<h1 class="text-center">Косилова Елена Васильевна</h1>
<div style="margin-top: 30px; display: flex; flex-direction: row-reverse; justify-content: space-between;">
    <div style="max-width: 500px;">
        <img src="{{ url_for('static', filename='img/kosilova.png') }}" alt="kosilova.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <div>
        <h5>Ф.И.О.</h5>
        <p>Косилова Елена Васильевна</p>
        <h5>Должность</h5>
        <p>Директор</p>
        <h5>Предмет</h5>
        <p>Биология</p>
        <h5>Образовани</h5>
        <p>Высшее. Куйбышевский государственный университет Химико-биологический факультет Специальность: биология</p>
        <h5>Категория</h5>
        <p>Высшая категория</p>
        <h5>Награды</h5>
        <p>Почетный работник среднего профессионального образования Российской Федерации</p>
        <h5>Личные достижения</h5>
        <p>участие в городском конкурсе "Лучший учитель по предмету". Секция "Урок биологии по ФГОС"</p>
        <h5>Публикации</h5>
        <p>1. Сборник статей участников курсов повышения квалификации, 2010 год «Унификация документооборота как одно из условий разработки и внедрения системы менеджмента качества»</p>
        <p>2. Сборник материалов научно-практической конференции «Культура и стресс: психологическое здоровье в эпоху социальной турбулентности», 2013 год «Профессионально-педагогическая культура педагога как условие формулирования профессиональных компетенций будущего специалиста» </p>
        <p>3. Сборник научно-методических статей «Система менеджмента качества как ресурс инновационного развития профессионального образования», 2012 год «Управление процессами структурных подразделений»</p>
    </div>
    

</div>
{% endblock %}