<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Козырева Ирина Евгеньевна{% endblock %}

{% block content %}
<h1 class="text-center">Козырева Ирина Евгеньевна</h1>
<div style="margin-top: 30px; display: flex; flex-direction: row-reverse; justify-content: space-between;">
    <div style="max-width: 500px;">
        <img src="{{ url_for('static', filename='img/kozyreva.png') }}" alt="kozyreva.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <div>
        <h5>Ф.И.О.</h5>
        <p>Козырева Ирина Евгеньевна</p>
        <h5>Должность</h5>
        <p>Учитель русского языка и литературы</p>
        <h5>Предмет</h5>
        <p>Русский язык и литература</p>
        <h5>Образовани</h5>
        <p>Высшее</p>
        <h5>Категория</h5>
        <p>Высшая категория</p>
        <h5>Награды</h5>
        <p>1. Почетный работник общего образования РФ</p>
        <p>2. Памятный знак "Куйбышев -запасная столица"</p>
        <h5>Личные достижения</h5>
        <p>1. Благодарственное  письмо министерства образования и науки Самарской области. 06.09.2012 г.</p>
        <p>2. Благодарственное  письмо министерства образования и науки Самарской области. 27.09.2013 г.</p>
        <p>3. Благодарственное  письмо министерства образования и науки Самарской области за подготовку призера регионального этапа Всероссийского  сочинения. 2015 год. </p>
        <h5>Публикации</h5>
        <ul class="info-list">
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Публикации</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://www.prodlenka.org/">Публикация методического материала на страницах  образовательного  портала.</a>
            </li>
        </ul>
        <h5>Достижения учащихся</h5>
        <p>1. 2015-2016 уч. год</p>
        <p>2. Городские Патриотические чтения имени маршала А.М. Василевского «Герои Отечества» (Панурин Илья диплом 2 место);</p>
        <p>3. Всероссийский  конкурс  сочинений «Золотое перо» (Денисова Екатерина диплом I  место);</p>
        <p>4. III городские научно-творческие Бородинские чтения «Время пламенных лет не уйдет в забытьё» (Денисова Екатерина диплом 2 место);</p>
        <p>5. Городской конкурс чтецов « Мир защищая, шел  вперед солдат», посвященный  Дню Победы (Горбунова Дарья диплом 1 место);</p>
        <p>6. Городской конкурс литературных  работ «Какой будет охрана труда в будущем» (Нагорнова  Лариса  диплом II  место);</p>
        <p>7. VII городской конкурс «Праздник белых Журавлей» Номинация: «Литературное чтение» (Горбунова Дарья   диплом 2 место).</p>
        <p>8. 2016-2017 уч.год</p>
        <p>9. VII городской конкурс  «Праздник белых Журавлей» Номинация: «Литературное чтение» (Горбунова Дарья  8А кл. диплом 2 ст.)</p>
        <ul class="info-list">
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Достижения учащихся</a>
            </li>
        </ul>
    </div>
    

</div>
{% endblock %}