<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Лукьянова Людмила Николаевна{% endblock %}

{% block content %}
<h1 class="text-center">Лукьянова Людмила Николаевна</h1>
<div style="margin-top: 30px; display: flex; justify-content: space-between;">
    <div>
        <h5>Ф.И.О.</h5>
        <p>Лукьянова Людмила Николаевна</p>
        <h5>Должность</h5>
        <p>Учитель начальных классов</p>
        <h5>Предмет</h5>
        <p>Начальные классы</p>
    </div>
</div>
{% endblock %}