<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Наш профсоюз{% endblock %}

{% block content %}
<h1 class="text-center">Наш профсоюз</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Стенограмма выступления президента Российской Федерации В.В. Путина на XII съезде ФНПР.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Стенограмма выступления М.В. Шмакова на XII съезде ФНПР</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Публичный отчет за 2021 год </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Коллективный договор МБОУ Школы №70 на 2023-2025гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">«Профессиональное  развитие педагога: организационные  и  методические  основы,  модели   и  смыслы  наставничества»</a>
        </li>
    </ul>
    <h5>Информационные ресурсы Ленинской районной организации профсоюза работников образования г.Самары в сети интернет:</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://vk.com/lenprof63">https://vk.com/lenprof63</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://twitter.com/lenprofsamara">https://twitter.com/lenprofsamara</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/channel/UCQDAip6CKs3zdouiS_-YqkA">https://www.youtube.com/channel/UCQDAip6CKs3zdouiS_-YqkA</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/nash_profsoyz1.png') }}" alt="nash_profsoyz1.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">О совершенствовании работы территориальных организаций Профсоюза, первичных профсоюзных организаций с правами территориальной Самарской областной организации Профсоюза работников народного образования и науки Российской Федерации по защите прав членов Профсоюза на здоровые и безопасные условия труда.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Об исполнении областного Соглашения по социально-трудовым вопросам работников образования и науки Самарской области на 2021-2023 годы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Как получить звание Ветеран Труда</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Звание Ветеран Труда педагогическим работникам</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Права молодого педагога</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Учимся экономить на лечении</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">СОГЛАШЕНИЕ по социально-трудовым вопросам работников образования и науки Самарской области на 2021-2023 годы.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Достижения Самарской областной организации Профсоюза работников народного образования и науки Российской Федерации по итогам 2020 года.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Резолюция выездного Дня председателя и семинар-обучения председателей и бухгалтеров профсоюзных организаций различного уровня, председателей клуба «Наставник», членов Советов молодых педагогов при профсоюзных организациях</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Для членов Профсоюза Образования автошкола «Драйв»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://vk.com/drive063">Автошкола Drive Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Распоряжение Губернатора Самарской области от 27.03.2019 № 149-р «О мерах по обеспечению развития социального партнерства в сфере труда на территории Самарской области».</a>
        </li>
    </ul>
    <br>
    <h5>2021 год в Общероссийском Профсоюзе образования объявлен годом спорта, здоровья, долголетия.</h5>
    <p>В школе 70 г.о.Самара (Ленинская районная профсоюзная организация) председатель первичной профсоюзной организации, председатель совета молодых педагогов Ленинского района Татьяна Панихина рассказала членам профсоюза о значимости проекта "Цифровой профсоюз" и вручила электронные профсоюзные билеты. Также члены первичной профсоюзной организации узнали о федеральной бонусной программе "Profcards".</p>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/nash_profsoyz2.png') }}" alt="nash_profsoyz2.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/nash_profsoyz3.png') }}" alt="nash_profsoyz3.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Коллективный договор на 2020-2023 гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Изменения в коллективный договор на 2020-2023 гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Устав профессионального союза работников народного образования и науки РФ</a>
        </li>
    </ul>
    <br>
    <h5>Внимание!</h5>
    <p>Предлагаем принять участие в голосовании в поддержку Резолюции ФНПР в интернете на сайте <a href="https://1may.fnpr.ru/">1may.fnpr.ru</a></p>
    <p></p>
    <p>Система ПРОФКАРДС создана Общероссийским Профсоюзов образования и ООО «ФИНФОРТ» для получения членами Профсоюза скидок и бонусов при использовании единого электронного профсоюзного билета. <a href="pdf">КАК ЭТО РАБОТАЕТ.</a></p>
    <p>Сообщаем Вам, что в целях укрепления здоровья работников – членов Общероссийского Профсоюза образования и их семей подписан договор с ЧУ «ФСК «Нептун» г. Самара ОАО «РЖД» (далее – спортивное учреждение). В бонусной программе «Профкардс» спортивное учреждение предоставляет 10% скидку на все услуги согласно прайса комплекса для участников проекта. Ссылка на карточку комплекса: <a href="https://profcards.ru/shops/515695?type=advcampaign-offline">https://profcards.ru/shops/515695?type=advcampaign-offline</a></p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Порядок предоставления социальных выплат на компенсацию первоначального взноса по ипотечному жилищному кредиту молодым специалистам аэрокосмической отрасли, молодым врачам, молодым специалистам автомобилестроительной отрасли, молодым учителям и молодым педагогам.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="pdf">Проект "Профилактика эмоционального выгорания"</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/nash_profsoyz4.png') }}" alt="nash_profsoyz4.png" style="width: 100%; margin-bottom: 20px;">
    </div>
</div>
{% endblock %}