<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Панихина Татьяна Петровна{% endblock %}

{% block content %}
<h1 class="text-center">Панихина Татьяна Петровна</h1>
<div style="margin-top: 30px; display: flex; flex-direction: row-reverse; justify-content: space-between;">
    <div style="max-width: 500px;">
        <img src="{{ url_for('static', filename='img/panikhina.png') }}" alt="panikhina.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <div>
        <h5>Ф.И.О.</h5>
        <p>Панихина Татьяна Петровна</p>
        <h5>Должность</h5>
        <p>Заместитель директора по УВР.</p>
        <h5>Предмет</h5>
        <p>Английский язык</p>
        <h5>Образовани</h5>
        <p>Высшее. ГОУ ВПО ПГСГА Квалификация: учитель начальных классов, учитель иностранного языка (английского) Специальность: «Педагогика и методика начального образования» с дополнительной специальностью «Иностранный язык (английский)»</p>
        <h5>Награды</h5>
        <p>Памятный знак «Куйбышев – запасная столица»</p>
        <h5>Личные достижения</h5>
        <p>1. Грамота Отрадненского управления Министерства образования и науки Самарской области за презентацию авторского проекта на Региональной Ярмарке социально-педагогических инноваций (29.11.2012 г.)</p>
        <p>2. Благодарственное письмо АНО «Самарский центр развития добровольчества» за активное участие в областной добровольческой акции «Весенняя неделя добра 2013» и вклад в развитие добровольческих инициатив в Самарской области (2013 год)</p>
        <p>3. Благодарственное письмо Губернатора Самарской области (2014 год)</p>
        <p>4. Благодарственное письмо Исполнительного комитета Центрального Совета Общероссийского Профсоюза образования за активное участие в работе Всероссийского Форума молодых педагогов «Таир-2015» (2015 год)</p>
        <p>5. Благодарственное письмо Администрации Ленинского внутригородского района городского округа Самара за активное участие в добровольческой акции «Пожиратели незаконной рекламы», проводимой в рамках месячника по благоустройству, озеленению и улучшению внешнего облика Ленинского внутригородского района городского округа Самара (2016 год)</p>
        <p>6. Благодарственное письмо за участие в конкурсе творческих работ работников образования Ленинского внутригородского района городского округа Самара «Талантливый человек – талантлив во всем» (2016 год)</p>
        <p>7. Грамота Самарского регионального отделения общероссийской общественной организации ветеранов «Российский союз ветеранов» за активное участие в военно-патриотических акциях городского округа Самара (2016 год)</p>
        <h5>Публикации</h5>
        <p>1. Интегративный характер предмета «иностранный язык»: практические аспекты реализации межпредметных связей // О вы, которых ожидает Отечество… : сборник научных трудов молодых ученых. №11 / отв.ред. О. М. Буранок. – Самара: ПГСГА, 2010. – 200 с.</p>
        <p>2. Развитие интеллекта студентов посредством иностранного языка // Интеллектуальное развитие в процессе обучения физике : материалы Международной научно-практической конференции. 26-27 ноября 2010 года, г. Самара. – Самара : ПГСГА, 2010. – 245 с.</p>
        <p>3. Особенности преподавания иностранного языка учащимся с неродным русским языком в системе мультикультурного образования // Мультикультурное взаимодействие в современном мире:материалы и доклады Международного культурно-образовательного форума (Самара, 24-26 марта 2014 г.) / редкол.: В. В. Левченко (отв. ред.) [и др.]. – Самара: Изд-во «Институт анализа экономики города и региона», 2014. – 344 с.</p>
        <h5>Достижения учащихся</h5>
        <p>1. Жураева Лилия  - 3 место в научно-практической конференции «Поволжские чтения» в секции «Лингвистика» (от 16.04.2011 г.)</p>
        <p>2. Денисова Екатерина Диплом в номинации «Практическая направленность» в Открытых Ломоносовских чтениях «Мои личные открытия» в секции Английский язык (2012 год)</p>
        <p>3. Денисова Екатерина победа в номинации «Оформление работы» в III городской межшкольной конференции «Я – исследователь» в секции «Английский язык» (2012 год)</p>
        <p>4. Жураева Лилия участник окружного этапа областной научной конференции школьников в секции «Английский язык, 9 класс» с учебно-исследовательской работой «Использование наглядных материалов для повышения мотивации изучения английского языка» (2012 год)</p>
        <p>5. Шишкин Станислав благодарственное письмо за активное участие в Областном Слете активистов ученического самоуправления Самарской области по областной социально-педагогической программе «За ученические советы» (2013 год)</p>
        <p>6. Нагорнова Лариса, Яковлев Валерий, участники конкурса «Самый умный» по английскому языку (от 25.10.2014 г.)</p>
        <p>7. Плотникова Ольга, Данилова Виктория, Цибарев Петр победа в номинации «Коллективная работа» в городском конкурсе исследовательских работ «Экологический паспорт учреждения» (2015 год)</p>
        <p>8. Команда МБОУ СОШ №70 г. о. Самара Диплом участника специального проекта «Лес Победы» (2015 год)</p>
        <p>9. Отряд «Тимуровцы» 3 место в городском конкурсе символики тимуровского движения городского округа Самара (2016 год)</p>
        <p>10. Волонтерский отряд «Лучик света», отряд «Тимуровцы» победа в городской добровольческой акции «Пожиратели незаконной рекламы» (2016 год)</p>
        <p>11. Команда МБОУ Школы № 70 г. о. Самара Грамота за активное участие в IV Областном детском форуме «Мы вместе» (2016 год)</p>
    
    
    
    
    
    
    </div>
</div>
{% endblock %}