<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Учителя школы{% endblock %}

{% block content %}
<h1 class="text-center">Страницы учителей школы</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.kislova_elena') }}">Косилова Е.В.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.panihina_tatyana') }}">Панихина Т.П.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.baranova_naezhda') }}">Баранова Н.В.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.bargan_nadezhda') }}">Барган Н.Ю.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.dementeva_valentina') }}">Дементьева В.А.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.kazarina_maria') }}">Казарина М.Д.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.kandalova_olga') }}">Кандалова О.И.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.kirsanova_svetlana') }}">Кирсанова С.М.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.kozireva_irina') }}">Козырева И.Е.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.akimova_angelina') }}">Акимова А. В.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.korneeva_olga') }}">Корнеева О. П.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.lukyanova_lydmila') }}">Лукьянова Л. Н.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-um.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.cibin_ivan') }}">Цибин И. В.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.stepanova_mariya') }}">Степанова М.Ю.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-uzh.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="{{ url_for('ychit.urazhenceva_nadezhda') }}">Уржунцева Н.Н.</a>
        </li>
    </ul>
    
    

</div>
{% endblock %}