<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Уржунцева Надежда Николаевна{% endblock %}

{% block content %}
<h1 class="text-center">Уржунцева Надежда Николаевна</h1>
<div style="margin-top: 30px; display: flex; justify-content: space-between;">
    <div>
        <h5>Ф.И.О.</h5>
        <p>Уржунцева Надежда Николаевна</p>
        <h5>Должность</h5>
        <p>Учитель начальных классов</p>
        <h5>Предмет</h5>
        <p>Начальные классы</p>
        <h5>Образовани</h5>
        <p>Среднее специальное</p>
    </div>
    

</div>
{% endblock %}