.container {
    padding: 15px;
  }

  .responsive-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 3%;
  }

  .date-container {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }

    .responsive-image {
      max-width: 100%;
    }

    h1 {
      font-size: 24px;
    }

    .date-container {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 5px;
    }

    h1 {
      font-size: 20px;
    }

    .date-container {
      font-size: 12px;
    }
  }