/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #eeeeee;
    margin: 0 5vh;
    text-decoration: none;
    padding: 0;
  }
  
  .page-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    color: #000000;
  }
  
  .content-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Стили для секций */
  .section-title {
    font-size: 1.8rem;
    color: #333;
    margin-top: 30px;
  }
  
  .section-elements {
    list-style-type: none;
    padding: 0;
  }
  
  .element-item {
    margin-bottom: 20px;
  }
  
  /* Текстовые элементы */
  .element-text {
    font-size: 1rem;
    color: #444;
  }
  
  /* Ссылки */
  .element-link {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  .element-link:hover {
    text-decoration: underline;
    color: #007bff;
  }
  
  /* Изображения */
  .element-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  /* Видео */
  .element-video {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Неизвестные элементы */
  .unknown-element {
    color: #d9534f;
    font-weight: bold;
  }
  
  /* Пример иконок и ссылок в списке */
  .element-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .element-list img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .element-list a {
    font-size: 1rem;
    color: #0056b3;
    font-weight: 500;
    text-decoration: none;
  }
  
  .element-list a:hover {
    text-decoration: underline;
  }
  


  .content a {
    text-decoration: none;
    color: rgb(0, 71, 129)c6c;
    font-size: 18px;
    font-weight: 500;
}
li a {
    text-decoration: none;
    color: #000;
}
.info-list {
    list-style-type: none;
    padding: 0;
}
.info-list li {
    margin: 16px 0;
    display: flex;
    align-items: center;
}
.info-list li img {
    margin-right: 10px;
}

.list-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.li-class {
    display: flex; 
    flex-direction: column;
}

.a-class {
    display: block; 
}