<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Дорожная безопасность{% endblock %}

{% block content %}
<h1 class="text-center">Дорожная безопасность</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Паспорт дорожной безопасности образовательной организации МБОУ Школы №70 г.о. Самары</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">1. Пути движения транспортных средств к местам разгрузки/погрузки и рекомендуемые пути передвижения детей по территории МБОУ Школы №70.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">2. Организация дорожного движения в непосредственной близости от МБОУ Школы №70.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">3. План-схема пути движения учеников к МБОУ Школе №70.</a>
        </li>
    </ul>
    <br>
    <h5>Памятки:</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правило для велосипедистов, скутеристов.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Внимание, дети на дорогах! Добрая дорога детства.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Садясь за руль велосипеда, ты становишься водителем.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Дорожные ловушки.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Необходимость использования фликеров в тёмное время суток.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Особенности БДД в осеннее время.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правила поведения на остановке и в общественном транспорте.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Административная ответственность родителей (законных представителей) за несоблюдение детьми правил дорожного движения</a>
        </li>
    </ul>
    <p>Видеоролик социальной рекламы: <a href="#">Самокаты.</a></p>
    <br>
    <h5>Вспомним правила дорожного движения</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правила безопасного поведения детей на железнодорожном транспорте</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Видеоматериалы по профилактике травматизма на железнодорожном транспорте.</a>
        </li>
    </ul>
    <br>
    <h5>Видеоуроки, направленные на формирование у обучающихся и их родителей навыков безопасного поведения на объектах железнодорожного транспорта - "Железная дорога – железная дисциплина".</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Урок 1</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Урок 2</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Урок 3</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правила групповых перевозок детей</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Методическое пособие для родителей «Всё, что нужно знать про безопасную перевозку ребенка в автомобиле».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Начальник отделения пропаганды БДД информирует об аварийности на территории г.о Самара за 10 месяцев текущего года, профилактике детского дорожно-транспортного травматизма и "дорожных ловушках"</a>
        </li>
    </ul>
    <br>
    <h5>Видеоматериалы, направленные на формирование у обучающихся и их родителей навыков безопасного поведения на объектах железнодорожного транспорта.</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Я выбираю жизнь!</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">БЕРЕГИ СВОЮ ЖИЗНЬ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Железная дорога - зона повышенной опасности</a>
        </li>
    </ul>
    <br>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/dor_bezop1.png') }}" alt="dor_bezop1.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/dor_bezop2.png') }}" alt="dor_bezop2.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/dor_bezop3.png') }}" alt="dor_bezop3.png" style="width: 100%; margin-bottom: 20px;">
    </div>















</div>
{% endblock %}