<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Экологическое воспитание{% endblock %}

{% block content %}
<h1 class="text-center">Экологическое воспитание</h1>
<div style="margin-top: 30px; display: flex; justify-content: center;">
    <iframe allowfullscreen="" frameborder="0"  marginheight="0" marginwidth="0" scrolling="no" src="http://player.myshared.ru/66/1357174/" style="border:1px solid #CCC;border-width:1px 1px 0" width="843" height="680"></iframe>
</div>
{% endblock %}