<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Информация для родителей{% endblock %}

{% block content %}
<h1 class="text-center">Информация для родителей</h1>
<div style="margin-top: 30px;">
    <h5>Памятки для родителей: </h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Как узнать о приобщении к наркотикам, алкоголю и табакокурению по внешнему виду и поведению ребенка</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Как поступать родителям, чтобы предотвратить приобщение ребенка к наркотикам, алкоголю, табакокурению</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Как уберечь детей от наркотиков</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Что такое спайсы? Информационная листовка для родителей</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Памятка по определению признаков употребления наркотических средств и психотропных веществ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Памятка о ВИЧ И СПИД</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Информация по борьбе с незаконным оборотом наркотиков на территории г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Информация для родителей о проблемах наркомании</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ОПАСНАЯ СУБКУЛЬТУРА</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod1.png') }}" alt="inf_dl_rod1.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod2.jpg') }}" alt="inf_dl_rod2.jpg" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod3.jpg') }}" alt="inf_dl_rod3.jpg" style="width: 100%; margin-bottom: 20px;">
    </div>
    <p>Уважаемые родители и законные представители обучающихся, просим Вас ответить на несколько вопросов и оценить<a href="https://forms.yandex.ru/u/65c23d57c769f10fe91c5a4e/">Вашу удовлетворённость качеством образования в Самарской области.</a></p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правила пользования лифтом пассажирским в многоэтажном дому</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Рекомендации по недопущению проникновения и нахождения животных без владельцев на территории социальных объектов Самарской области</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ПАМЯТКА "Как себя вести при встрече с собакой во избежание причинения вреда жизни и здоровью человека"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Самарский государственный социально-педагогический университет «Бесплатные консультации для родителей»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ от 27.10.2022г. Об ограничении пропускного режима</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Памятка по гриппу</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">«Стратегия социальной поддержки населения субъектов РФ 2023»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Информация: Об оказании помощи малоимущим семьям и одиноко проживающим гражданам на основании социального контракта</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Информация от 3.11.2022г.: Об ответственности несовершеннолетних за употребление наркотических средств и психотропных веществ</a>
        </li>        
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod4.jpg') }}" alt="inf_dl_rod4.jpg" style="width: 100%; margin-bottom: 20px;">
    </div>
    <p>Мониторинг удовлетворенности качеством психолого-педагогических, методических и консультационных услуг в образовательных учреждениях Самарской области. Онлайн-формат с 27 февраля по 15 декабря 2023 года. В мониторинге принимают участие и заполняют анкету только те родители, которые получали психолого-педагогические услуги в соответствующих учреждениях. <a href="https://forms.yandex.ru/cloud/63ea1abb50569020b6466180/">Форма для опроса</a></p>
    <br>
    <h5>ПАМЯТКИ для родителей:</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">"Дети в интернете"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Памятка о безопасной покупке лекарственных препаратов в зарубежных интернет-магазинах.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Памятка о профилактике аутоагрессивного поведения.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Жестокое обращение с детьми: что это такое?</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod5.jpg') }}" alt="inf_dl_rod5.jpg" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod6.jpg') }}" alt="inf_dl_rod6.jpg" style="width: 100%; margin-bottom: 20px;">
    </div>
    <br>
    <h5>ПАМЯТКИ для родителей.</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Информация о программе "Пушкинская карта".</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Профессиональная карьера в будущем. К чему готовить детей.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Готов ли ваш ребенок к профессиональному выбору.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Профили обучения. Как ребёнку развиваться в каждом из них.</a>
        </li>
    </ul>
    <br>
    <h5>Памятка для родителей "Как  ребёнку выбрать профессию"</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Справочный материал об условиях поступления в военные образовательные организации высшего образования Министерства Обороны РФ на 2022 год.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Управление МВД России по г. Самаре  осуществляет набор по очной форме обучения в образовательные организации системы МВД России.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ПАМЯТКА Родителям и обучающимся МБОУ Школа № 70 г.о. Самара по предупреждению возникновения и распространения новой коронавирусной инфекции вызванной 2019 – nCoV (памятка разработана на основании материалов, предоставленных Роспотребнадзором и Минпросвещением РФ).</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod7.jpg') }}" alt="inf_dl_rod7.jpg" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/inf_dl_rod8.jpg') }}" alt="inf_dl_rod8.jpg" style="width: 100%; margin-bottom: 20px;">
    </div>
    <br>
    <iframe width="600" height="315" src="https://www.youtube.com/embed/1F07iZb2TYk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Памятка "Правила поведения на воде"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правила поведения на воде в зимний период</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Видеоролик, объясняющий основные правила электробезопасности в период летних каникул.</a>
        </li>
        <br>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Видеоматериалы по профилактике травматизма на железнодорожном транспорте.</a>
        </li>
    </ul>
    <p>Международный молодежный конкурс социальной антикоррупционной рекламы «Вместе против коррупции!» проводится с 1 мая по 1 октября 2020 года. Вся информация о конкурсе на сайте <a href="http://anticorruption.life/">http://anticorruption.life</a>.</p>
    <p>Сведения о качестве условий образовательной деятельности организаций, осуществляющих образовательную деятельность, расположенных на территории Самарской области, размещаются на официальном сайте <a href="http://bus.gov.ru/">http://bus.gov.ru.</a> На сайте bus.gov.ru реализована возможность для граждан провести оценку качества условий образовательной деятельности образовательных организаций и оставить отзыв о качестве услуг, предоставляемых образовательными организациями. <a href="http://mbousch70.ru/Other/instrukcija_otzyvy_bus.gov.ru.pdf">Инструкция о размещении гражданами отзывов на сайте bus.gov.ru.</a></p>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основные заявления президента России, сделанные им в ходе Послания Федеральному Собранию в 2020 году</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Национальные проекты Российской Федерации</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ОБРАЗОВАНИЕ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ДЕМОГРАФИЯ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Правила групповых перевозок детей</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Центры социально-психологической помощи родителям и детям</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Методические рекомендации об использовании устройств мобильной связи в общеобразовательных организациях</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ПОЛОЖЕНИЕ об использовании устройств мобильной связи в МБОУ Школе № 70 г.о. Самара</a>
        </li>        
    </ul>
    <iframe width="600" height="315" style="margin-bottom: 30px;" src="https://www.youtube.com/embed/4ZABqBEtv0I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Генеральная прокуратура Российской Федерации предлагает родителям ознакомится с памяткой <a href="#">«Мы против коррупции в образовании».</a></p>
    <p>С 1 мая 2017 года доступ в АСУ РСО с использованием логина и пароля для педагогов, родителей, а впоследствии и для обучающихся старше 14 лет будет закрыт. Для входа в АСУ РСО будут использоваться данные, указанные при регистрации на портале ГосУслуги <a href="https://esia.gosuslugi.ru.">https://esia.gosuslugi.ru</a>. <a href="{{ url_for('iato.reg_na_gy') }}">Подробнее...</a></p>
    <p>Прокуратура Самарской области: <a href="#">Информация в помощь родителям «Как можно бороться с поборами в школах».</a></p>
    <p>Методические рекомендации <a href="#">"О порядке привлечения и использования средств физических и (или) юридических лиц и мерах по предупреждению незаконного сбора средств с родителей (законных представителей) обучающихся, воспитанников муниципальных образовательных учреждений городского округа Самара в сфере образования"</a></p>
    <p>Противодействие коррупции <a href="#">ПАМЯТКА «Что нужно знать о коррупции»</a></p>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Прокуратура Ленинского района г. Самары информирует об ответственности законных представителей несовершеннолетних и иных лиц за подделку, изготовление или использование заведомо подложных документов.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Постановление от 06.02.2018 № 51 «О закреплении муниципальных общеобразовательных учреждений городского округа Самара за территориальными участками городского округа Самара и признании утратившими силу отдельных муниципальных правовых актов городского округа Самара».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приложение к постановлению от 06.02.2018 № 51 «Муниципальные общеобразовательные учреждения городского округа Самара, закрепленные за территориальными участками городского округа Самара».</a>
        </li> 
    </ul>

    


</div>

{% endblock %}