<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Медиация{% endblock %}

{% block content %}
<h1 class="text-center">Школьная Служба Медиации</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о создании Школьной Службы Медиации.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о Школьной Службе Медиации.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ Об утверждении состава и плана работы на 2023-2024 уч. год школьной службы медиации.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План работы школьной службы Медиации (примирения) на 2023-2024 учебный год.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План работы Школьной Службы Медиации на 2021-2022 уч.год.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План работы Школьной Службы Медиации на 2022-2023 уч.год.</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/mediac1.png') }}" alt="mediac1.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/mediac2.png') }}" alt="mediac2.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/mediac3.png') }}" alt="mediac2.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <br>
    <h5>Функционирование служб школьной медиации в образовательной организации позволит:</h5>
    <div style="margin-left: 30px;">
        <p>сократить общее количество конфликтных ситуаций, в которые вовлекаются дети, а также их остроту;</p>
        <p>повысить эффективность ведения профилактической и коррекционной работы, направленной на снижение проявления асоциального поведения обучающихся;</p>
        <p>сократить количество правонарушений, совершаемых несовершеннолетними, в том числе повторных;</p>
        <p>повысить квалификацию работников образовательной организации по защите прав и интересов детей;</p>
        <p>обеспечить открытость в деятельности образовательной организации в части защиты прав и интересов детей;</p>
        <p>создать условия для участия общественности в решении актуальных проблем и задач в части профилактики правонарушений несовершеннолетних;</p>
        <p>оптимизировать взаимодействие с органами и учреждениями системы профилактики безнадзорности и правонарушений несовершеннолетних;</p>
        <p>оздоровить психологическую обстановку в образовательной организации.</p>
    </div>
    <br>
    <h5>Правовой основой создания и деятельности служб школьной медиации является:</h5>
    <div style="margin-left: 30px;">
        <p>Конституция Российской Федерации;</p>
        <p>Гражданский кодекс Российской Федерации;</p>
        <p>Семейный кодекс Российской Федерации;</p>
        <p>Федеральный закон от 24 июля 1998 г. № 124-ФЗ «Об основных гарантиях прав ребенка в Российской Федерации»;</p>
        <p>Федеральный закон от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации»;</p>
        <p>Конвенция о правах ребенка;</p>
        <p>Конвенции о защите прав детей и сотрудничестве, заключенные в г. Гааге, 1980, 1996, 2007 годов;</p>
        <p>Федеральный закон от 27 июля 2010 г. № 193-ФЗ «Об альтернативной процедуре урегулирования споров с участием посредника (процедуре медиации)».</p>
    </div>
</div>
{% endblock %}