<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Олимпиада{% endblock %}

{% block content %}
<h1 class="text-center">Олимпиада</h1>
<div style="margin-top: 30px;">
    <p>Олимпиада проводится в целях выявления и развития у обучающихся творческих способностей и интереса к научной (научно-исследовательской) деятельности, пропаганды научных знаний, отбора лиц, проявивших выдающиеся способности в составы команды г.о. Самара для участия в региональном этапе олимпиады.</p>
    <p>Олимпиада проводится по следующим общеобразовательным предметам: математика, русский, иностранный язык, информатика, физика, химия, биология, экология, география, астрономия, литература, история, обществознание, экономика, право, искусство (мировая художественная культура), физическая культура, технология, основы безопасности жизнедеятельности.</p>
    <p>Олимпиада включает школьный, муниципальный, региональный и заключительный этапы.</p>
    <p>Школьный этап олимпиады проводится по разработанным муниципальными предметно-методическими комиссиями олимпиады заданиям, основанным на содержании образовательных программ основного общего и среднего общего образования углублённого уровня и соответствующей направленности (профиля), для 4-11 классов (далее - олимпиадные задания).</p>
    <p>Начало школьного тура всероссийской олимпиады по любому предмету в МБОУ Школа № 70 г.о. Самара - 13.00, начало регистрации - 12.00.</p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ Департамента образования Администрации городского округа Самара "О проведении в 2019-2020 учебном году школьного этапа всероссийской олимпиады школьников в образовательных организациях, расположенных на территории городского округа Самара".</a>
        </li>
    </ul>
    <br>
    <h5>Видеоразборы олимпиадных заданий</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Окружной этап</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Региональный этап</a>
        </li>
    </ul>
</div>
{% endblock %}