<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Посвящается 75-летию Победы{% endblock %}

{% block content %}
<h1 class="text-center">Посвящается 75-летию Победы</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://год2020.рф/">Официальный сайт Года памяти и славы.</a>
        </li>
    </ul>
    <div style="margin-top: 30px; margin-bottom: 30px;">
        <iframe class="speakerdeck-iframe" frameborder="0" src="//speakerdeck.com/player/3ad2743b490d43bc895f120a9e84f286?title=false&skipResize=true" title="Самарское знамя. Уроки истории Самарского края." allowfullscreen="true" style="border: 0px; background: padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 874px; height: 492px;"></iframe>
    </div>
    <div style="max-width: 874px;">
        <img src="{{ url_for('static', filename='img/posv_75_letiu1.png') }}" alt="posv_75_letiu1.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <p><a href="https://may9.ru/">Официальный сайт празднования 75-летия Победы.</a> На сайте можно получить всю информацию о 75-летии Победы, о памятных, праздничных, образовательных и иных акциях, посвященных Дню Победы. <br> На сайте огромный фотоархив, описание ключевых событий войны, собраны все записи Левитана. Сайт MAY9.RU будет периодически пополняться актуальными новостями, историко-документальными материалами.</p>
    <br>
    <h5>В Самарской области создан сайт в честь юбилея Победы</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://pobeda75.samregion.ru/">75-лет Победы!</a>
        </li>
    </ul>
    <br>
    <h5>На сайте вы можете найти:</h5>
    <ul class="info-list">
        <p style="margin-left: 30px;">Удивительные факты реальной истории;</p>
        <p style="margin-left: 30px;">Российские интернет-ресурсы, посвященные Великой Отечественной войне;</p>
        <p style="margin-left: 30px;">Самарская область в годы Великой Отечественной войны;</p>
        <p style="margin-left: 30px;">Мероприятия Самарской области, посвященные 75-летию Победы;</p>
        <p style="margin-left: 30px;">Фильмы о войне;</p>
        <p style="margin-left: 30px;">Песни Победы;</p>
        <p style="margin-left: 30px;">Юным гражданам Губернии, а также их родителям.</p>
    </ul>
    <br>
    <p>Проект <a href="https://vk.com/nasledie_pobeda">«Наследие Победы»</a> и реализуется при поддержке Правительства Самарской области. Приглашаем принять участие в интерактивном квесте о послевоенной и современной истории Самарской области.</p>
    <br>
    <p>Городской социально-значимый проект «Читаем о Победе», в котором руководители образовательных учреждений городского округа Самара рассказывают в видеороликах о событиях, предшествующих Параду Победы 24 июня 1945 года на Красной площади в Москве.</p>
    <a href="https://cloud.mail.ru/stock/5yNQ5NyJcAfvwMraGHjo3jGo">https://cloud.mail.ru/stock/5yNQ5NyJcAfvwMraGHjo3jGo</a>
    <br>
    <a href="https://cloud.mail.ru/stock/5v4sGP3Q5yzeVPeGZ9V2VeN2 ">https://cloud.mail.ru/stock/5v4sGP3Q5yzeVPeGZ9V2VeN2</a>
    <br>
    <br>
    <p>К 75-летию Победы <a href="">КНИГА ПАМЯТИ</a> - посвящается нашим родным - героям Великой Отечественной войны 1941-1945 гг.</p>
    <br>
    <h5>Мы помним..  Мы гордимся..</h5>
    <div style="margin-top: 30px; margin-bottom: 30px;">
        <iframe class="speakerdeck-iframe" frameborder="0" src="//speakerdeck.com/player/4749677bc74947e98192c893411355c6?title=false&skipResize=true" title="Самарское знамя. Уроки истории Самарского края." allowfullscreen="true" style="border: 0px; background: padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 789px; height: 592px;"></iframe>
    </div>
    <br>
    <h5>ФИЛЬМЫ О ВЕЛИКОЙ ОТЕЧЕСТВЕННОЙ ВОЙНЕ</h5>
    <p><a href="https://www.youtube.com/watch?v=ov7bKyahGL4%20%E2%80%93">«Судьба человека»</a> — экранизация одноимённого рассказа Михаила Шолохова. Этот фильм рассказывает о русском солдате, которого война подвергла страшным испытаниям, лишила дома и семьи, бросила в концлагерь. Но судьба не сломила его дух - он выжил, отстоял своё право быть человеком, сохранил способность любить...</p>
    <p><a href="https://www.youtube.com/watch?v=tqxFTJZbevE">«В бой идут одни «старики»</a> - это легенда советского кинематографа. Его сюжет отчасти основан на реальных событиях – поющая эскадрилья действительно была. В фильме показаны скудные, но наполненные до отказа моменты счастья, сменяющиеся безнадежностью.</p>










</div>
{% endblock %}