<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Презентация музея{% endblock %}

{% block content %}
<h1 class="text-center">Презентация музея</h1>
<div style="margin-top: 30px;">
    <div style="margin-top: 30px; margin-bottom: 30px; display: grid; justify-items: center;">
        <iframe class="speakerdeck-iframe" frameborder="0" src="//speakerdeck.com/player/e125edba29d442a89396950040289305?title=false&skipResize=true" title="Самарское знамя. Уроки истории Самарского края." allowfullscreen="true" style="border: 0px; background: padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 774px; height: 581px;"></iframe>
    </div>
    <h5 class="text-center">Награды музея</h5>
    <p>1. Группа экскурсоводов школьного музея в 2005 г. награждена грамотой департамента образования администрации г.Самары в номинации «Лучшая группа экскурсоводов»;</p>
    <p>2. Музей МОУ СОШ №70 «История школы №70» награждён в 2010 году за II место в городском смотре-конкурсе школьных музеев, посвящённом 65-летию Победы в Великой Отечественной войне;</p>
    <p>3. Музей МОУ СОШ №70 «История школы №70» награждён в 2010 году Дипломом за активное участие в военно-патриотической игре для активистов школьных музеев «Наследие предков сохраним и приумножим» в рамках общегородского праздника-слёта «Мы внуки победы»;</p>
    <p>4. Актив музея «История школы №70» награждён в 2011 году Дипломом Департамента Образования за активное участие в открытой городской выставке-форуме «Творчество. Образование. Космос», посвящённой 50-летию первого полёта человека в космос;</p>
    <p>5. Музей «История школы №70» награждён в 2012 году Дипломом Думы городского округа Самара за I место в номинации «Лучший экскурсовод» городского фестиваля-смотра мемориальных объектов образовательных учреждений г.о.Самара, посвящённого 70-летию битвы под Москвой в Великой Отечественной войне. </p>
    <p>6. В 2012-2013 учебном году музей школы занял  III  место в городском конкурсе рекламной продукции  в номинации «Рекламный плакат» .</p>
    <p>7. В 2013-2014 учебном году - Диплом лауреата Городского смотра-конкурса школьных музеев, посвященного 70-летию снятия блокады Ленинграда  в номинации «Лучшая  группа экскурсоводов».</p>
    <p>8. В 2013-2014 учебном году музей школы получил Диплом за активное участие в выставке-конкурсе передвижных  музейных экспозиций «Мы внуки Победы» на городском празднике «Радость Победы».</p>
    <p>9. В 2017-2018 учебном году музей школы стал Дипломантом городского конкурса исторических музеев "Полководцы Победы" в рамках специальных мероприятий Парада Памяти военного парада 7 ноября 1941 года в Куйбышеве в номинации "Лучшая рекламная продукция школьных музеев".</p>
    

</div>
{% endblock %}