<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Профилактическая работа{% endblock %}

{% block content %}
<h1 class="text-center">Профилактическая работа</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о Совете профилактики.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о внесении изменений в регламентирующие документы.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Изменения Положения о Совете профилактики.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение НАРКОПОСТ.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о дисциплинарном взыскании учащимся МБОУ Школы №70 г.о. Самара.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о постановке на внутришкольный учет обучающихся МБОУ Школы №70 г.о. Самара.</a>
        </li>
    </ul>
    <br>
    <h5>2023-2024 учебный год</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План Школьной службы примирения.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы с учащимися по профилактике буллинга.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План мероприятий по формированию у учащихся толерантности, активной позиции противодействия экстремизму и национализму.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы по профилактике жестокого обращения с детьми.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы по профилактике суицидального поведения у учащихся.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы по профилактике табакокурения, наркомании и алкогольной зависимости.</a>
        </li>
    </ul>
    <br>
    <h5>2022-2023 учебный год</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы по профилактике табакокурения, алкоголизма и наркомании среди несовершеннолетних на 2022-2023 уч. год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы по профилактике и предотвращению буллинга (моббинга), кибербуллинга, скулшутинга на 2022-2023 уч. год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">План работы по профилактике дивиантного поведения на 2022-2023 уч. год</a>
        </li>
    </ul>
    <br>
    <p>На сайте Администрации Городского округа Самара в разделе <a href="https://www.samadm.ru/city_life/obshchestvennaya-bezopasnost/the-prosecutor-s-office-explains/?PAGEN_2=1">Прокуратура разъясняет</a> можно найти ответы на многие юридические вопросы.</p>
    <p>Например: <a href="https://www.samadm.ru/media/news/27223/">Прокуратура Промышленного района г. Самары разъясняет, предусмотрена ли административная ответственность за возбуждение ненависти либо вражды, а равно унижение человеческого достоинства.</a> от 30.09.2020 года.</p>
    <p><a href="https://cloud.mail.ru/public/3BLQ/52wfZusFD/">Просветительский проект «Азбука права» </a>- тематические правовые публикации.</p>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Листовка_Статьи Кодекса РФ об экстремизме и ответственности.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Как себя вести: Вооруженное нападение.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Как вести себя при обнаружении СВУ (фильм для учебных заведений)</a>
        </li>
    </ul>
</div>
{% endblock %}