<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Школьная газета{% endblock %}

{% block content %}
<h1 class="text-center">Школьная газета</h1>
<div style="margin-top: 30px;">
    <p>Школьный пресс-центр в 2018 году начал свою работу с выпуска школьной газеты "Планета 70". Первый выпуск газеты доверили дизайнерам и редакторам из 7 "А" класса. Учащимся каждого класса будет дана возможность проявить свои способности в сфере журналистики. В данном разделе школьного сайта будут публиковаться все выпуски школьной газеты.</p>
    <br>
    <h5>Выпуски школьной газеты 2018-2019 гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <a href="#">Выпуск №1</a>
        <a href="#">Выпуск №2</a>
        <a href="#">Выпуск №3</a>
        <a href="#">Выпуск №4</a>
        <a href="#">Выпуск №5</a>
        <a href="#">Выпуск №5(нач.школа)</a>
        <a href="#">Выпуск №6</a>
        <a href="#">Выпуск №6(нач.школа)</a>
        <a href="#">Выпуск №7</a>
        <a href="#">Выпуск №7(нач.школа)</a>
        <a href="#">Выпуск № 8</a>
        <a href="#">Выпуск № 8(нач.школа)</a>
        <a href="#">Выпуск №9</a>
        <a href="#">Специальный Выпуск, посвящённый 100-летию Комсомола</a>
        <a href="#">Выпуск №10</a>
        <a href="#">Выпуск №10(нач.школа)</a>
        <a href="#">Выпуск №11</a>
        <a href="#">Выпуск №12</a>
        <a href="#">Выпуск №12(нач.школа)</a>
        <a href="#">Выпуск №13</a>
        <a href="#">Выпуск № 13(нач.школа)</a>
        <a href="#">Выпуск № 14</a>
        <a href="#">Выпуск №15</a>
    </div>
    <br>
    <h5>Выпуски школьной газеты 2019-2020гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <a href="#">Выпуск №16</a>
        <a href="#">Выпуск №17</a>
        <a href="#">Выпуск №18</a>
        <a href="#">Выпуск №18(нач. школа)</a>
        <a href="#">Выпуск №19</a>
        <a href="#">Выпуск №19(нач. школа)</a>
        <a href="#">Выпуск №20</a>
        <a href="#">Выпуск №21</a>
        <a href="#">Выпуск №21(нач. школа)</a>
        <a href="#">Выпуск №22</a>
        <a href="#">Выпуск №23</a>
    </div>
    <br>
    <h5>Выпуски школьной газеты 2020-2021гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <a href="#">Выпуск №24</a>
        <a href="#">Выпуск №24(нач. школа)</a>
        <a href="#">Специальный Выпуск №25, посвящённый Параду Памяти 7 ноября 1941 года</a>
        <a href="#">Выпуск №25(нач. школа)</a>
        <a href="#">Выпуск №26</a>
        <a href="#">Выпуск №26(нач. школа)</a>
        <a href="#">Выпуск №27</a>
        <a href="#">Специальный Выпуск №28 - "Вместе за безопасность дорожного движения"</a>
        <a href="#">Выпуск №29</a>
        <a href="#">Выпуск №29(нач. школа)</a>
        <a href="#">Выпуск №30</a>
        <a href="#">Выпуск №30(нач. школа)</a>
        <a href="#">Специальный Выпуск №31 - "А песни тоже воевали..."</a>
        <a href="#">Выпуск №32</a>
        <a href="#">Выпуск №33</a>
        <a href="#">Специальный Выпуск №33 - "Во взрослую жизнь провожая, звенит наш последний звонок…"</a>
    </div>
    <br>
    <h5>Выпуски школьной газеты 2021-2022гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <a href="#">Выпуск №34</a>
        <a href="#">Выпуск №35</a>
        <a href="#">Выпуск №36(нач. школа)</a>
        <a href="#">Выпуск №37(нач. школа)</a>
        <a href="#">Выпуск №39</a>
        <a href="#">Выпуск №39(нач. школа)</a>
        <a href="#">Выпуск №40</a>
        <a href="#">Выпуск №41</a>
        <a href="#">Выпуск №41(экологический спец. выпуск)</a>
    </div>
    <br>
    <h5>Выпуски школьной газеты 2022-2023гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <a href="#">Выпуск №42</a>
        <a href="#">Выпуск №42(нач. школа)</a>
        <a href="#">Выпуск №43</a>
        <a href="#">Выпуск №43(нач. школа)</a>
        <a href="#">Выпуск №44</a>
        <a href="#">Выпуск №45</a>
        <a href="#">Выпуск №47</a>
        <a href="#">Выпуск №47(нач. школа)</a>
        <a href="#">Специальный Выпуск №48 "Зарница Поволжья-2023"</a>
        <a href="#">Выпуск №49</a>
        <a href="#">Выпуск №50</a>
        <a href="#">Выпуск №51</a>
        <a href="#">Выпуск №52</a>
    </div>
    <br>
    <h5>Выпуски школьной газеты 2023-2024гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <a href="#">Выпуск №53</a>
        <a href="#">Выпуск №54(спец. выпуск Выборы президента Школьного самоуправления)</a>
        <a href="#">Выпуск №55</a>
        <a href="#">Выпуск №56</a>
        <a href="#">Выпуск №57</a>
        <a href="#">Выпуск №58</a>
        <a href="#">Выпуск №59</a>
        <a href="#">Выпуск №60</a>
        <a href="#">Выпуск №61(спец. выпуск)</a>
    </div>
    <br>
    <h5>Выпуски школьной газеты 2024-2025гг.</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    
    </div>
</div>
{% endblock %}