<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Урок французского языка{% endblock %}

{% block content %}
<h1 class="text-center">Урок французского языка</h1>
<div style="margin-top: 30px;">
    <p>Сегодня я расскажу о французском языке и о Франции.</p>
    <p>Более 200 миллионов человек в мире говорят на французском языке на 5 континентах земного шара. Франция – это страна, о которой невозможно говорить равнодушно!</p>
    <p>Сегодня мы совершим путешествие во Францию.</p>
    <p>Франция знаменита своими великолепными пейзажами, красивыми городами, архитектурой, искусством, культурой, изумительной кухней, мощной экономикой и развитой наукой, своими писателям, артистами, старинными замками, сырами, винами, духами, модой, автомобилями, своими писателям, артистами, старинными замками, сырами, винами, духами, модой, автомобилями.</p>
    <p>Французы – культурные люди. Поучимся, как здороваются во Франции: Bonjour! Прощаются же словом: Au revoir!</p>
    <p>Чтобы запомнить хорошие манеры, предлагаю поиграть в игру.</p>
    <p>Один из лучших способов почувствовать себя во Франции – это отправиться во французское кафе.</p>
    <p>Добро пожаловать в наше кафе на завтрак!</p>
    <p>День во Франции традиционно начинается с хрустящего золотистого пшеничного багета. Его нарезают ломтиками и делают из них бутерброды – тартинки, намазывая маслом и джемом. На завтрак французы обожают есть круассаны , пить кофе или какао. Багеты и круассаны во Франции едят уже целых 100 лет!</p>
    <p>Вспомним всё, что мы сегодня выучили!</p>
    <p>Пожелаем друг другу «Bon appétit!» и попробуем французский круассан.</p>
    <p>К нам на завтрак заглянула французская певица и исполнила популярную французскую песню! Merci, Mademoiselle!</p>
    <p>Мы запомнили много французских слов, научились представляться, считать до 10, посмотрели фильм о Франции, поиграли, потанцевали, попробовали блюда французского завтрака. Путешествие во Францию подошло к концу! Merci beaucoup!</p>
</div>
{% endblock %}