<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Волонтерство{% endblock %}

{% block content %}
<h1 class="text-center">Волонтерство</h1>
<h5 class="text-center">Акции отряда волонтёров "Лучик света"</h5>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Обращение детской общественной организации волонтёров г.о. Самара «Городская лига волонтёров»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Информационная справка по организации и работе добровольческого движения</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План проведения профилактической акции 17 ноября 2017 года</a>
        </li>
    </ul>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/volonterstvo1.png') }}" alt="volonterstvo1.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo2.png') }}" alt="volonterstvo2.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo3.png') }}" alt="volonterstvo3.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo4.png') }}" alt="volonterstvo4.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo5.png') }}" alt="volonterstvo5.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo6.png') }}" alt="volonterstvo6.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo7.png') }}" alt="volonterstvo7.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo8.png') }}" alt="volonterstvo8.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo9.png') }}" alt="volonterstvo9.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo10.png') }}" alt="volonterstvo10.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo11.png') }}" alt="volonterstvo11.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo12.png') }}" alt="volonterstvo12.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo13.png') }}" alt="volonterstvo13.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/volonterstvo14.png') }}" alt="volonterstvo14.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    

</div>
{% endblock %}