<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Зима 2021{% endblock %}

{% block content %}
<h1 class="text-center">Региональный проект   #ПРОкачайЗИМУ</h1>
<div style="margin-top: 30px;">
    <p>В целях организации занятости обучающихся в период зимних каникул  министерство образования и науки Самарской области запускает проект #Прокачай ЗИМУ,  в рамках которого планируется проведение мероприятий направленных на получение новых знаний, укрепление физического здоровья школьников, формирование потребности в здоровом образе жизни</p>
    <br>
    <h5>#ПРОкачайМозг - получи новые знания, умения.</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://learningapps.org/15057413">Новогодняя викторина</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://learningapps.org/15057717">«Новогодний следопыт» Найди все слова, связанные с Новым годом.</a>
        </li>
    </ul>
    <br>
    <h5>#ПРОкачайТЕЛО - займись спортом и собственным здоровьем.</h5>
    <p>МБОУ Школа №70 приглашает активных ребят на школьное футбольное поле, где будут проходить занятия футболом</p>
    <p>2.01.2021г.   в 10:00</p>
    <p>5.01.2021г.   в 10:00 и в 12:00</p>
    <p>В Самаре будет работать более 120 бесплатных катков.</p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.samadm.ru/authority/the_department_of_physical_culture_and_sports/skating-rinks-in-samara-2020/">Список катков в Самаре</a>
        </li>
    </ul>
    <br>
    <h5>#ПРОкачайСебя - научись петь, танцевать, играть, с пользой проводить свободное время.</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://www.karusel-tv.ru/games/tree">Наряди Елку</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://www.youtube.com/watch?v=FSxuuVIRQGA&feature=emb_logo">«Новогодний флешмоб».  Наши друзья из «Экологии детства» предлагают вам вместе с ними разучить новогодний танец</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://www.youtube.com/watch?v=DxeJxb8KJNk&feature=emb_logo">Мастер-класс "Новогодняя 3D открытка"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://www.youtube.com/watch?v=JQyulYKxcp8&feature=emb_logo">Мастер-класс "Рождественский ангел"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://www.youtube.com/watch?v=tQK5mGRR3J8&feature=emb_logo">Мастер-класс "Зимняя сказка своими руками"</a>
        </li>
    </ul>
    <br>
    <h5>#ПРОкачайСвоеОкружение - новый формат общения с семьей, поиск общего хобби, поиск новых друзей по интересам.</h5>
    <p><a href="https://onlinetestpad.com/hmrg5eqwn5d3o">Чтобы развлечься всей семьёй предлагаем вам отправиться в Новогоднее путешествие!</a> Вы же наверняка знаете, что у нашего Деда Мороза много братьев, живущих в России и за рубежом? Хотите побывать у них в гостях?</p>
    <p><a href="https://www.youtube.com/user/ZOORUvideo/videos">Виртуальная экскурсия в Московский зоопарк.</a> Вы сможете виртуально побывать в Московском зоопарке: видео фильмы, в которых вы узнаете о зоопарке, о питомцах зоопарка, их повадках, местах обитания. </p>
    <p><a href="https://www.youtube.com/channel/UC0I4VnqZNLttX3BC0P7c1wQ">ДАРВИНОВСКИЙ МУЗЕЙ.</a> На youtube канале музея опубликованы 18 "Палеонтологических историй". Здесь можно познакомиться с щеказаврами и саблезубыми звероящерами, а также узнать о самой поразительной находке российских палеонтологов. Ролики интересные и понятные детям младшего школьного возраста и старше. </p>
    <p><a href="http://tours.kremlin.ru/#/ru&1_12">МОСКОВСКИЙ КРЕМЛЬ.</a> Виртуальная прогулка открывает закрытые для туристов объекты, входящие в кремлевский комплекс резиденции Президента. Причем открывает - в уникальной изобразительной подробности. </p>
    <p><a href="https://www.youtube.com/watch?v=VYW3qVerFTY&feature=emb_title">БИОЛОГИЧЕСКИЙ МУЗЕЙ ИМЕНИ К.А.ТИМИРЯЗЕВА.</a> Вы сможете совершить онлайн прогулку по оранжерее и приобщиться к удивительному миру растений. Ведет экскурсию заведующая сектором оранжерейно-парковой работы Ольга Михеева.</p>
    <br>
    <h5>#ПРОкачайСвоюБезопасность</h5>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/zima2021.png') }}" alt="zima2021.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://www.youtube.com/watch?v=lre3K71FQNw">ЖД Безопасность</a>
        </li>
    </ul>
    

</div>
{% endblock %}