<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Архив{% endblock %}

{% block content %}
<h1 class="text-center">Архив</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа основного общего образования МБОУ Школы № 70 г.о. Самара (2022-2023)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа начального общего образования МБОУ Школы № 70 г.о. Самара 2022г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа начального общего образования МБОУ Школы № 70 г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа основного общего образования МБОУ Школы № 70 г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа начального общего образования МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">УЧЕБНЫЙ ПЛАН основного общего образования на 2023-2024 учебный год</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебный план начального общего образования МБОУ Школы № 70 г.о. Самара на 2022-2023 уч.год</a>
        </li>        
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">УЧЕБНЫЙ ПЛАН начального общего образования на 2023-2024 учебный год</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">УЧЕБНЫЙ ПЛАН среднего общего образования на 2023-2024 учебный год</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">УЧЕБНЫЙ ПЛАН основного общего образования на 2023-2024 учебный год</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебный план основного общего образования (6-9кл.) МБОУ Школы № 70 г.о. Самара на 2022-2023 уч. год</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебный план основного общего образования (5 кл.) МБОУ Школы № 70 г.о. Самара на 2022-2023 уч. год</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебный план среднего общего образования МБОУ Школы № 70 г.о. Самара на 2022-2023 уч. год</a>
        </li>   
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебный план обучения на дому МБОУ Школы № 70 г.о. Самара на 2022-2023 уч.год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Программа развития МБОУ Школы №70 2017-2022</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Среднесрочная программа развития МБОУ Школы №70 на 2022 год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Календарное планирование воспитательной работы школы на 2021-2022 учебный год (начальное общее образование)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Календарное планирование воспитательной работы школы на 2021-2022 учебный год (основное общее образование)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Календарное планирование воспитательной работы школы на 2021-2022 учебный год (среднее общее образование)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приложение 1. Единый график оценочных процедур в МБОУ Школа №70 г.о.Самара на 2021-2022 уч. год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План мероприятий («Дорожная карта») по повышению показателей МБОУ Школы № 70 г.о. Самара (2021-2022)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План мероприятий («Дорожная карта») на 2022-2023 учебный год по повышению показателей МБОУ Школы №70 г.о. Самара</a>
        </li>
    </ul>
    <h5>Рабочие программы 2022 г.</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Русский язык 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Литература 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Математика 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Информатика 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физика 7-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Химия 8-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Биология 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">География 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Английский язык 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">История 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Обществознание 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Музыка 5-7</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Изобразительное искусство 5-8</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Основы безопасности жизнедеятельности 7-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Технология 5-8</a>
        </li>       
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ОДНКНР 5</a>
        </li>        
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физическая культура 5-9</a>
        </li>        
    </ul>
    <h5>Архив - Элективные курсы</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Математика: Избранные вопросы математики 10-11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Трудные и дискуссионные вопросы обществознания 11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Химия: Научные основы химии 10</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Логические основы математики 11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Базовые основы информатики 10</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Химия в повседневной жизни 11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Русский язык: теория и практика 10-11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Русское правописание: орфография и пунктуация 11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Биология: Сложные вопросы биологии 10</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Научные вопросы физики 10-11</a>
        </li>        
    </ul>
</div>
{% endblock %}