<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Дистанционный режим обучения{% endblock %}

{% block content %}
<h1 class="text-center">Дистанционный режим обучения</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ "Об организации образовательной деятельности 11.01.23г. в МБОУ Школа №70 г.о. Самара"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ "Об организации образовательной деятельности 9-10.01.23г. в МБОУ Школа №70 г.о. Самара"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Постановление от 30 июня 2020г. № 16 "Об утверждении санитарно-эпидемиологических правил СП 3.1/2.4.3598-20 "Санитарно-эпидемиологические требования к устройству, содержанию и организации работы образовательных организаций и других объектов социальной инфраструктуры для детей и молодежи в условиях распространения новой коронавирусной инфекции (covid-19)" (действует до 01.01.2021)"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Постановление Главного государственного санитарного врача Российской Федерации от 02.11.2021 № 27 "О внесении изменения в пункт 3 постановления Главного государственного санитарного врача Российской Федерации от 30.06.2020 № 16 "Об утверждении санитарно-эпидемиологических правил СП 3.1/2.4.3598-20 "Санитарно-эпидемиологические требования к устройству, содержанию и организации работы образовательных организаций и других объектов социальной инфраструктуры для детей и молодежи в условиях распространения новой коронавирусной инфекции (СОVID-19)" (Зарегистрирован 03.11.2021 № 65705)"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ПАМЯТКА Родителям и обучающимся МБОУ Школа №70 г.о. Самара по предупреждению возникновения и распространения новой коронавирусной инфекции вызванной 2019 – nCoV (памятка разработана на основании материалов, предоставленных Роспотребнадзором и Минпросвещением РФ)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Инструкция по занятиям в дистанционном обучении</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение об электронном обучении и использовании дистанционных образовательных технологий при реализации образовательных программ в муниципальном бюджетном общеобразовательном учреждении «Школа № 70 имени Героя Советского Союза А.В. Мельникова» г. о. Самара</a>
        </li>        
    </ul>
    <br>
    <p><a href="#">Школьная горячая линия</a> - 8 903 302 2264</p>
    <br>
    <h5>В помощь обучающимся и родителям:</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Министерство образования и науки Самарской области запускает проект "ЕГЭ-2020". Разберем со специалистом». В аккаунтах министерства в социальных сетях ежедневно будут публиковаться видеоконсультации от председателей предметной комиссии Самарской области, которые помогут выпускникам подготовиться к единому государственному экзамену.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://fipi.ru/">Федеральный институт педагогических измерений (ФИПИ) начал публикацию на своем сайте методических рекомендаций по организации индивидуальной подготовки к ЕГЭ и ОГЭ.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Методические рекомендации по организации подготовки обучающихся по образовательным программам основного общего и среднего общего образования к государственной итоговой аттестации в условиях сложившейся эпидемиологической ситуации.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Рекомендации для родителей по организации личного времени и досуга детей в период длительного пребывания дома.</a>
        </li>
    </ul>
    <br>
    <h5>Рекомендации, памятки, советы, инструкции:</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://mgppu.ru/news/7462?fbclid=IwAR1smrNiSS54y6sMw3WuZtrE0BcpsYtfggbh2Wq9tQZcbEsYgqpeNyLv7BI">Памятки по предотвращению тревожных состояний, подготовленные специалистами Центра экстренной психологической помощи Московского государственного психолого-педагогического университета. Материалы доступны на официальном сайте МГППУ.РФ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Обучение на дому: просто и эффективно! Инструкция для родителей.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Организация учебного процесса в домашней обстановке. Комфортно и просто.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Распорядок для ребенка на дистанционном обучении. Рекомендации родителям.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Дистанционное обучение - без вреда для здоровья. Рекомендации по безопасной работе за компьютером и/или планшетом для школьников.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Следи за здоровьем.</a>
        </li>
    </ul>
    <br>
    <h5>Перечень онлайн-платформ для дистанционного обучения, используемых образовательной организацией.</h5>
    <br>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; gap: 20px;">
        <a href="https://resh.edu.ru/">
            <img src="{{ url_for('static', filename='img/distant1-vmake.png') }}" alt="distant1">
        </a>
        <a href="https://digital.prosv.ru/">
            <img src="{{ url_for('static', filename='img/distant2-vmake.png') }}" alt="distant2">
        </a>
        <a href="https://education.yandex.ru/home/">
            <img src="{{ url_for('static', filename='img/distant3-vmake.png') }}" alt="distant3">
        </a>
        <a href="https://cifra.school/">
            <img src="{{ url_for('static', filename='img/distant4-vmake.png') }}" alt="distant4">
        </a>
        <a href="https://proektoria.online/">
            <img src="{{ url_for('static', filename='img/distant5-vmake.png') }}" alt="distant5">
        </a>
        <a href="https://www.yaklass.ru/">
            <img src="{{ url_for('static', filename='img/distant6-vmake.png') }}" alt="distant6">
        </a>
        <a href="https://oge.sdamgia.ru/">
            <img src="{{ url_for('static', filename='img/distant7-vmake.png') }}" alt="distant7">
        </a>
        <a href="https://ege.sdamgia.ru/">
            <img src="{{ url_for('static', filename='img/distant8-vmake.png') }}" alt="distant8">
        </a>
        <a href="https://asurso.ru/">
            <img src="{{ url_for('static', filename='img/distant9-vmake.png') }}" alt="distant9">
        </a>
    </div>
    <br>
    <h5>Перечень ссылок на платформы для проведения видео-уроков.</h5>
    <p><a href="https://zoom.us/">zoom</a></p>
    <p><a href="https://www.skype.com/ru/">skype</a></p>
    <a href="#">Интернет-ресурсы, направленные на освоение образовательных программ, самостоятельную подготовку и саморазвитие.</a>
    <p><a href="https://vk.com/club195646417">Городской социально-значимый проект "Самарское детство".</a>«Самарское детство» - онлайн платформа социально-значимых и конкурсных мероприятий Департамента образования городского округа Самара.</p>
    <p><a href="http://centrhelp.minobr63.ru/?p=1245">"Психолого-педагогический центр "Помощь"</a> - 33-444-71</p>



</div>
{% endblock %}