<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Образование ДО{% endblock %}

{% block content %}
<h1 class="text-center">Образование ДО</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ министерства образования об утверждении ФГОС дошкольного образования</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon2">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Программа развития дошкольного отделения МБОУ Школы №70 г.о. Самары на 2022-2025 гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon3">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Рабочая программа воспитания дошкольного отделения МБОУ Школы №70 г.о. Самары</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon4">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Годовой план работы дошкольного отделения МБОУ Школы №70 г.о. Самара 2022-2023</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon5">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебный план дошкольного отделения МБОУ Школы №70 г.о. Самара 2022-2023</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon6">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная общеобразовательная программа дошкольного образования дошкольного отделения МБОУ Школы № 70 г. о. Самара 2024-2025 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon7">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная общеобразовательная программа дошкольного образования дошкольного отделения МБОУ Школы № 70 г. о. Самара от 13.04.2023 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon8">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная общеобразовательная программа дошкольного образования дошкольного отделения МБОУ Школы № 70 г. о. Самара 2022 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon9">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Тематическое планирование воспитательно-образовательной деятельности дошкольного отделения МБОУ Школы №70 на 2022-2023 уч. год.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon10">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Календарный план воспитательной работы дошкольного отделения МБОУ Школы №70 на 2022-2023 уч.г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon11">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Календарный учебный график МБОУ Школы №70 на 2022-2023 уч.год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon12">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Календарный план воспитательной работы дошкольного отделения МБОУ Школы №70 на 2021-2022 уч.г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon13">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Дополнительная образовательная общеразвивающая программа «Весёлая ритмика» 2021-2022</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon14">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Дополнительная образовательная общеразвивающая программа «Весёлая ритмика»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon15">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Дополнительная образовательная общеразвивающая программа "Сказочный островок"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon16">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебно-тематический план по дополнительной программе «Весёлая ритмика» на 2020-2021гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon17">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Дополнительная образовательная общеразвивающая программа «Волшебный сундучок» 2021-2022гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon18">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Дополнительная образовательная общеразвивающая программа «Волшебный сундучок»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon19">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Учебно-тематический план по дополнительной программе «Волшебный сундучок» на 2020-2021гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon20">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о внутренней системе оценки качества образования дошкольного отделения МБОУ школы № 70 г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon21">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Программа внутренней системы оценки качества образования дошкольного отделения МБОУ школы № 70 г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon22">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Распорядок дня дошкольного отделения на 2022-2023 уч. год (холодный и тёплый периоды).</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon23">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Расписание непосредственно-образовательной деятельности дошкольного отделения на 2022-2023 уч. год (холодный период).</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon24">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Годовой календарный учебный график на 2021-2022 уч.год.</a>
        </li>        
    </ul>
    <br>
    <h5>Радуга педагогических идей</h5>
    <p>1. <a href="">«Азбука безопасности в природе»</a> - конспект непосредственно-образовательной деятельности по познавательному развитию для детей средней группы. Старший воспитатель Харитонова О. А.</p>
    <p>2. <a href="">«Кормушки для птиц»</a> - конспект непосредственно-образовательной деятельности по познавательному развитию для детей младшей группы 3-4 лет. Воспитатель Солодунова О. Н.</p>
    <p>3. <a href="">«В гостях у репки»</a> - конспект непосредственно-образовательной деятельности по восприятию художественной литературы и фольклора для детей младшей группы. Воспитатель Ремизова С. К.</p>
    <p>4. <a href="">«Загадки дядюшки Кактуса»</a> - конспект непосредственно-образовательной деятельности в первой разновозрастной группе. Воспитатель Ремизова С. К.</p>
    <br>
    <h5>УРОКИ  ПОБЕДЫ</h5>
    <p>1. <a href="">«Солдаты великой победы»</a> - конспект непосредственно-образовательной деятельности для детей 6-7 лет. Старший воспитатель Харитонова О. А.</p>
    <p>2. <a href="">Презентация к мероприятию</a> - «Солдаты великой победы»</p>
    <p>3. <a href="">«900 дней блокады Ленинграда»</a> - конспект непосредственно-образовательной деятельности для детей 6-7 лет. Воспитатель Строганова А. К.</p>
    <p>4. <a href="">Презентация к мероприятию</a> - «900 дней блокады Ленинграда»</p>
    <p>5. <a href="">«День Победы»</a> - конспект непосредственно-образовательной деятельности по образовательной области «Речевое развитие» в  старшей группе. Воспитатель Лазеева М.В.</p>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/doschool_obrazov1.png') }}" alt="doschool_obrazov1.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/doschool_obrazov2.png') }}" alt="doschool_obrazov2.png" style="width: 100%; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='img/doschool_obrazov3.png') }}" alt="doschool_obrazov3.png" style="width: 100%; margin-bottom: 20px;">
    </div>
    
    

</div>
{% endblock %}