<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Федеральная образовательная программа дошкольного образования{% endblock %}

{% block content %}
<h1 class="text-center">Федеральная образовательная программа дошкольного образования</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Федеральная образовательная программа дошкольного образования (презентация)</a>
        </li>
    </ul>
    <br>
    <p>С 1 сентября 2023 года в соответствии с Приказом Министерства Просвещения Российской Федерации от 25 ноября 2022 г. № 1028 "Об Утверждении Федеральной образовательной программы дошкольного образования"   дошкольные образовательные учреждения начнут работать по новой федеральной образовательной программе – ФОП ДО.</p>
    <br>
    <p>Федеральная программа вводит базовый уровень требований к объему, содержанию и результатам работы с детьми в детских садах и позволяет реализовать несколько основополагающих функций дошкольного уровня образования:</p>
    <ul class="info-list" style="margin-left: 20px;">
        <p>обучение и воспитание ребенка дошкольного возраста как гражданина Российской Федерации, формирование основ его гражданской и культурной идентичности на соответствующем его возрасту содержании доступными средствами</p>
        <p>создание единого ядра содержания дошкольного образования (далее – ДО), ориентированного на приобщение детей к традиционным духовно-нравственным и социокультурным ценностям российского народа, воспитание подрастающего поколения как знающего и уважающего историю и культуру своей семьи, большой и малой Родины;</p>
        <p>создание единого федерального образовательного пространства воспитания и обучения детей от рождения до поступления в общеобразовательную организацию, обеспечивающего ребенку и его родителям (законным представителям) равные, качественные условия ДО, вне зависимости от места проживания.</p>
    </ul>
    <br>
    <p>Федеральная программа позволит объединить обучение и воспитание в единый процесс на основе традиций и современных практик дошкольного образования, подкрепленных внушительным объемом культурных ценностей.</p>
    <br>
    <h5>Материалы для ознакомления:</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Федеральная образовательная программа дошкольного образования</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Рекомендации по формированию инфраструктуры дошкольных образовательных организаций и комплектации учебно-методических материалов в целях реализации образовательных программ дошкольного образования</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Приказ «О создании рабочей группы по работе с федеральной образовательной программой дошкольного образования ДО МБОУ Школа № 70»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Приказ «Об утверждении дорожной карты мероприятий по переходу на ФОП ДО»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Приказ «Об утверждении программы на основе ФОП ДО»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Положение о рабочей группе по приведению ООП ДОО в соответствии с ФОП ДО дошкольного отделения МБОУ Школы №70 г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Основная общеобразовательная программа дошкольного образования дошкольного отделения МБОУ Школы № 70 г. о. Самара от 13.04.2023 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Дорожная карта мероприятий по переходу на ФОП ДО в муниципальном бюджетном дошкольном образовательном учреждении МБОУ Школы №70 г.о. Самара</a>
        </li>
    </ul>




</div>
{% endblock %}