<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}ОРГАНИЗАЦИЯ ПИТАНИЯ ВОСПИТАННИКОВ{% endblock %}

{% block content %}
<h1 class="text-center">ОРГАНИЗАЦИЯ ПИТАНИЯ ВОСПИТАННИКОВ</h1>
<div style="margin-top: 30px;">
    <h5>1. Горячая линия по вопросам питания</h5>
    <p>По вопросам качества организации питания, жалобам и предложениям обращайтесь: Косилова Елена Васильевна директор  МБОУ  Школы  №70 г.о. Самара</p>
    <p>тел. 8(846) 338-19-16</p>
    <p>Почта: so_sdo.school_70@samara.edu.ru</p>
    <br>
    <p>Харитонова Ольга Александровна старший воспитатель МБОУ  Школы  №70 г.о. Самара</p>
    <p>тел. 8(846) 332-76-03</p>
    <p>Почта: so_sdo.school_70@samara.edu.ru</p>
    <br>
    <p>ООО «Гарантия качества» Генеральный директор Иванова Оксана Владимировна Представитель поставщика питания ООО «Гарантия качества»</p>
    <p>Каткова Татьяна Сергеевна  8 (846) 268-01-80</p>
    <br>
    <p>Специалисты Управления Роспотребнадзора по Самарской области: </p>
    <p>8 (846) 266 98 49  отдел надзора по гигиене детей и подростков (г. Самара)</p>
    <br>
    <p>Специалисты консультационных центров ФБУЗ "Центр гигиены и эпидемиологии в Самарской области"</p>
    <p>8 (846) 373 49 22 ФБУЗ "Центр гигиены и эпидемиологии в Самарской области"</p>
    <p>8 (846) 337 73 93 отдел гигиены и эпидемиологии в г. Самара</p>
    <br>
    <p>Министерство образования и науки Самарской области по организации горячего питания</p>
    <p>8 (846) 333-50-01</p>
    <br>
    <p>Сектор контроля питания (отдел организации муниципального заказа)</p>
    <p>Департамента образования г.о. Самара</p>
    <p>8(846) 332-31-81</p>
    <p>so_sdo.orgpit-do@samara.edu.ru</p>
    <br>
    <p>Консультант отдела муниципального задания и организации питания Румянцева Н. В.</p>
    <p>8 937 079 69 53</p>
    <br>
    <h5>2. 10-ти дневное цикличное меню (лето)</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">10-ти дневное цикличное меню (лето)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon2">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 13.08.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon3">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 12.08.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon4">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 01.08-09.08.2024</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon5">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 14-16.08.2024г</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon6">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 19.08.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon7">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 19-23.08.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon8">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 26-27.08.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon9">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Меню 28-30.08.2024г</a>
        </li>        
    </ul>
    <br>
    <h5>3. Режим питания 2024</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Режим питания 2024</a>
        </li>
    </ul>
    <br>
    <h5>4. Информация о поставщике готовой продукции и сырья</h5>
    <p>ООО «Гарантия качества»</p>
    <p>Юридический адрес: г. Самара, ул. Волгина, д. 127А</p>
    <p>Фактический адрес: г. Самара, ул. Волгина, д. 127А</p>
    <p>Генеральный директор Иванова Оксана Владимировна</p>
    <p>Представитель поставщика питания ООО «Гарантия качества»</p>
    <p>Каткова Татьяна Сергеевна  т. 8 (846) 268-01-80</p>
    <br>
    <h5>5. Нормативные правовые акты</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о бракеражной комиссии</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon2">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение об организации питания воспитанников</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon3">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение о родительском контроле организации питания</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon4">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о бракеражной комиссии</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon5">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ об организации питания детей</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon6">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ об организации питьевого режима</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon7">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ об организации родительского контроля</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon8">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Методические рекомендации по проведении оценки соответствия меню</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon9">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Методические рекомендации по организации питания обучающихся общеобразовательных организаций</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon10">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Методические рекомендации к организации общественного питания населения</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon11">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">СанПиН 2.3_2.4.3590-20 питание</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon12">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Родительская плата в 2019 году</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon13">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Постановление 986 от 28.12.2021</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon14">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Программа ХАССП</a>
        </li>        
    </ul>
    <br>
    <h5>6. Материалы просветительской направленности по здоровому питанию</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Время правтльного питания</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Правила здорового питания</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Здоровое питание помогает</a>
        </li>
    </ul>
    <br>
    <h5>7. Мероприятия по формированию культуры питания</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Мероприятия по формированию культуры питания</a>
        </li>
    </ul>
    <br>
    <h5>8. Информация о родительском контроле за организацией питания обучающихся</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Методические рекомендации (порядок)  Создание условий для участия родителей (законных представителей) в контроле за организацией питания обучающихся в общеобразовательных организациях</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Методические рекомендации родительский контроль за организацией горячего питания детей в общеобразовательных организациях</a>
        </li>
    </ul>
    <br>
    <h5>9. Родительский контроль</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="">Информация о результатах выездных контрольных мероприятий</a>
        </li>
    </ul>
</div>
{% endblock %}