<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Общие сведения{% endblock %}

{% block content %}
<h1 class="text-center">Общие сведения</h1>
<div style="margin-top: 30px;">
    <h5>Местонахождение:</h5>
    <p>муниципальное бюджетное общеобразовательное учреждение «Школа №70 имени Героя Советского Союза А.В. Мельникова» городского округа Самара.</p>
    <br>
    <h5>Фактический адрес:</h5>
    <p>443041, г. Самара, ул. Ульяновская, дом 99.</p>
    <br>
    <h5>Телефон:</h5>
    <p>8 (846) 332 – 76 – 03, факс: 8 (846) 332 – 76 – 03.</p>
    <br>
    <h5>Электронная почта:</h5>
    <p>detki_164@mail.ru</p>
    <br>
    <h5>Старший воспитатель</h5>
    <p>Харитонова Ольга Александровна.</p>
    <br>
    <h5>График работы:</h5>
    <p>понедельник - пятница с 8.30 до 17.30, перерыв с 12.30 до 13.30</p>
    <br>
    <h5>Часы приема:</h5>
    <p>еженедельно понедельник с 14:00 до 17:00 четверг с 9:00 до 12:00</p>
    <br>
    <h5>Режим работы:</h5>
    <p>Дошкольное отделение функционирует в режиме полного дня, 12-часовое пребывание.</p>
    <br>
    <h5>График работы:</h5>
    <p>Дошкольное отделение работает в режиме 5-дневной рабочей недели с 7.00 до 19.00 часов.</p>
    <br>
    <h5>Выходные дни</h5>
    <p>суббота, воскресенье и праздничные дни, установленные законодательством Российской Федерации.</p>
    <br>
    <h5>Уровень образования:</h5>
    <p>Дошкольное образование.</p>
    <br>
    <h5>Форма обучения:</h5>
    <p>Групповая форма обучения.</p>
    <br>
    <h5>Нормативный срок обучения:</h5>
    <p>4 года</p>
    <br>
    <h5>Язык, на котором осуществляется образование (обучение):</h5>
    <p>Русский.</p>
    <br>
    <h5>Численность обучающихся по реализуемым образовательным программам за счет бюджетных ассигнований областного и городского бюджетов: 57</h5>
    <br>
    <h5>График работы педагогического персонала:</h5>
    <p>2 ч. рабочий день (1 смена с 7.00 до 14.12 мин; 2 смена с 11.48 мин до 19.00).</p>
    <p>Режим дня и  последовательность деятельности устанавливается в соответствии с санитарно-эпидемиологическими правилами и нормативами.</p>
    <br>
    <h5>Для осуществления развития ребенка в дошкольном отделении имеются:</h5>
    <p>групповые комнаты с удобно расположенной предметно-развивающей средой; пищеблок, прачечная и ряд служебных помещений. Прилегающая к дошкольному отделению территория оборудована верандой для прогулок, игровым уличным оборудованием.</p>
</div>
{% endblock %}