<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Комплектование{% endblock %}

{% block content %}
<h1 class="text-center">Комплектование</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Административный регламент предоставления муниципальной услуги «Прием заявлений, постановка на учет и зачисление детей в образовательные организации, реализующие образовательную программу дошкольного образования».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon2">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Постановление Администрации г. о. Самара от 10.06.2019 №352 О внесении изменений в постановление Администрации городского округа Самара от 07.07.2015 № 692 «Об утверждении административного регламента предоставления муниципальной услуги «Приём заявлений, постановка на учёт и зачисление детей в образовательные организации, реализующие образовательную программу дошкольного образования».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon3">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приложение к регламенту.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon4">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Положение «О порядке приема воспитанников в дошкольное отделение МБОУ Школы №70 г.о. Самара».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon5">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Памятка для родителей о дополнительных льготных категориях при распределении мест в дошкольные образовательные учреждения на 2020-2021 учебный год.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon6">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 21.07.20 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon7">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 20.08.20 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon8">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 19.10.20 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon9">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 10.11.20 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon10">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 30.04.21 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon11">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 26.05.21 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon12">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 15.06.21 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon13">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 05.07.21 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon14">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 17.11.21 г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon15">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в дошкольное отделение МБОУ Школа №70 от 30.11.21 г.</a>
        </li>
    </ul>
</div>
{% endblock %}