<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Доступная среда{% endblock %}

{% block content %}
<h1 class="text-center">Доступная среда</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <h4 class="text-center">Специальные условия для обучения инвалидов и лиц с ограниченными возможностями здоровья.</h4>
        <li>
            <p style="font-size: 18px; font-weight: 400;">1. Здание  МБОУ Школа №70 (ул. Коммунистическая 7) - оснащено стационарным пандусом, беспрепятственный доступ в здание обеспечен;</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">2. О специально оборудованных учебных кабинетах - в МБОУ Школе № 70 г. о. Самара нет специально оборудованных учебных кабинетов. Оказать услуги инвалидам и лицам с ограниченными возможностями здоровья частично можно в любом кабинете школы.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">3. Информация об объектах для проведения практических занятий, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья - в МБОУ  Школе  № 70 г. о. Самара нет объектов для практических занятий, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">4. Библиотека для использования инвалидами и лицами с ОВЗ приспособлена частично.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">5. Объекты спорта, приспособленные для использования инвалидами и лицами с ОВЗ отсутствуют;</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">6. Средства обучения и воспитания, приспособленные для использования инвалидами и лицами с ОВЗ отсутствуют.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">7. Специальные условия охраны здоровья созданы, работает мед. кабинет.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">8. Диетическое (индивидуальное) питание в МБОУ Школа №70 организовано на основе заявлений от родителей (законных представителей) и предоставлении медицинских документов. На 1.01. 2023 г. заявление на организацию диетического (индивидуального) питания не поступало.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">9. Электронные образовательные ресурсы для инвалидов и лиц с ОВЗ частично доступны.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">10.Специальные технические средства обучения коллективного и индивидуального пользования отсутствуют.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">11. Общежитие, интернат отсутствуют.</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Справочник "Образование для инвалидов и лиц с ОВЗ 2023"</a>
        </li>
    </ul>
    <div style="max-width: 851px;">
        <img src="{{ url_for('static', filename='img/dostyp_sred1.jpg') }}" alt="dostyp_sred1.jpg" style="width: 100%;">
        <img  src="{{ url_for('static', filename='img/dostyp_sred2.jpg') }}" alt="dostyp_sred2.jpg" style="width: 100%; margin-top: 30px;">
    </div>
</div>
{% endblock %}