<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Электронная библиотека{% endblock %}

{% block content %}
<h1 class="text-center">Электронная библиотека</h1>
<div style="margin-top: 30px;">
    <p>1. МОЯ ШКОЛА <a href="https://lib.myschool.edu.ru/market">Библиотека цифрового образовательного контента</a></p>
    <p>2. <a href="https://biblioschool.ru/?ysclid=llp852nuxe435818915">Библиотека Школьника</a> - Электронная библиотека школьника - это учебная библиотека, которая обеспечивает информацией и документами учебный процесс школьников, это и специальная библиотека, которая обслуживает педагогический коллектив, и публичная библиотека, которая предоставляет учащимся необходимые ресурсы для проектной и творческой деятельности.</p>
    <p>3. <a href="https://biblioschool.ru/?ysclid=llp852nuxe435818915">БИБЛИОШКОЛА</a> Электронная библиотека для школ. Методическая литература. Школьные учебники. Иностранные языки. </p>
    <p>4. <a href="https://libsmr.ru/">Самарская областная универсальная научная библиотека </a></p>
    <p>5. <a href="https://skysmart.ru/">Skysmart</a> - Онлайн-школа для детей и подростков. Курсы для школьников и дошкольников.</p>
    <p>6. <a href="#">Электронные библиотеки для школьников</a></p>
    <p>7. <a href="#">Электронные образовательные ресурсы, к которым обеспечивается доступ обучающихся.</a></p>
</div>
{% endblock %}