<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Функциональная грамотность{% endblock %}

{% block content %}
<h1 class="text-center">Функциональная грамотность</h1>
<div style="margin-top: 30px;">
    <p>Функциональная грамотность — это умение эффективно действовать в нестандартных жизненных ситуациях. Ее можно определить как «повседневную мудрость», способность решать задачи за пределами парты, грамотно строить свою жизнь и не теряться в ней. Функциональная грамотность сформирована через формат международного исследования PISA.</p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Рабочая программа внеурочной деятельности "Функциональная грамотность" 5-9 классы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ДОРОЖНАЯ КАРТА по обеспечению процесса перехода к формированию и оценке функциональной грамотности обучающихся на 2023-2024гг.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">План работы по выравниванию качества сформированности функциональной грамотности для подготовки обучающихся 8-10 классов г.о. Самара к прохождению международных исследований PISA-2022.</a>
        </li>
    </ul>
    <br>
    <h5>Банк заданий по функциональной грамотности:</h5>
    <ul class="info-list" style="margin-left: 30px;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://media.prosv.ru/">Медиатека (prosv.ru). Электронные учебники в Медиатеке. 1000 учебников с интерактивными объектами и удобной навигацией. Можно использовать через сайт или мобильное приложение.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://media.prosv.ru/static/files/Mediateka_UserGuide.pdf">Доступ к электронным учебникам издательства «Просвещение».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://fg.resh.edu.ru/">Электронный банк заданий по функциональной грамотности.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/">Сетевой комплекс информационного взаимодействия субъектов Российской Федерации в проекте «Мониторинг формирования функциональной грамотности учащихся».</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://profcentr.ggtu.ru/index.php/dokumenty/43-bank-zadanij-pisa">Банк заданий PISA.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://profcentr.ggtu.ru/index.php/programmy/11-materialy/81-master-klassy-pisa">Мастер-классы PISA.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://profcentr.ggtu.ru/index.php/programmy/11-materialy/88-onlajn-kursy-povysheniya-kvalifikatsii">Онлайн-курсы повышения квалификации при подготовке к PISA.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://profcentr.ggtu.ru/index.php/programmy/11-materialy/88-onlajn-kursy-povysheniya-kvalifikatsii">Издания центра ГГТУ Учитель будущего.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://profcentr.ggtu.ru/images/documents/izd_function.pdf">Функциональная грамотность в современном образовании. Сборник заданий для подготовки к международному сравнительному исследованию PISA.</a>
        </li>        
    </ul>
    <br>
    <p>Банк заданий для формирования и оценки функциональной грамотности обучающихся основной школы (5-9 классы) представлен по шести направлениям: математическая грамотность, естественнонаучная грамотность, читательская грамотность, финансовая грамотность, глобальные компетенции и креативное мышление. В материалах по каждому направлению функциональной грамотности содержатся файлы со списком открытых заданий, которые разработаны в ходе проекта, сами задания, характеристики заданий и система оценивания, а также методические комментарии к заданиям.</p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://media.prosv.ru/content/?situations=true">Банк заданий по функциональной грамотности от издательства «Просвещение»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/finansovaya-gramotnost/">Электронный банк заданий по финансовой грамотности</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/chitatelskaya-gramotnost/%D0%A7%D0%A2_5_2020_%D1%85%D0%B0%D1%80%D0%B0%D0%BA%D1%82%D0%B5%D1%80%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8%20%D0%B8%20%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0%20%D0%BE%D1%86%D0%B5%D0%BD%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F.pdf">Читательская грамотность. Характеристики и система оценивания</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/chitatelskaya-gramotnost/">Электронный банк заданий по читательской грамотности</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/matematicheskaya-gramotnost/">Электронный банк заданий по математической грамотности</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/estestvennonauchnaya-gramotnost/">Электронный банк заданий по естественнонаучной грамотности</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/globalnye-kompetentsii/">Электронный банк заданий по глобальным компетенциям</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/bank-zadaniy/kreativnoe-myshlenie/">Электронный банк заданий по креативному мышлению</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://www.centeroko.ru/pisa15/pisa15_pub.html">Примеры заданий по математической грамотности</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="http://skiv.instrao.ru/support/demonstratsionnye-materialya/index.php">Демонстрационные материалы для оценки функциональной грамотности учащихся 5 и 7 классов по шести составляющим функциональной грамотности</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://fg.resh.edu.ru/">Электронный банк заданий для оценки функциональной грамотности на сайте Российской электронной школы</a>
        </li>
    </ul>
</div>
{% endblock %}