<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Государственная итоговая аттестация{% endblock %}

{% block content %}
<h1 class="text-center">Государственная итоговая аттестация</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://drive.google.com/file/d/1VKs2QzN-ZRAF7i7LjNXrTpXih02NlIPz/view?usp=drive_link">Статистико-аналитический отчет о результатах государственной итоговой аттестации по образовательным программам среднего общего образования в 2022 году в МБОУ Школе № 70 г.о.Самара.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://drive.google.com/file/d/13fuBI9MKSFbxWAZWN8u03pMOS1FC68dW/view?usp=drive_link">Анализ результатов государственной итоговой аттестации обучающихся, освоивших образовательные программы основного общего образования в МБОУ Школе № 70 г.о.Самара.</a>
        </li>
    </ul>
    <p><a href="https://obrnadzor.gov.ru/navigator-gia/">Навигатор ГИА</a>- вся актуальная информация о прохождении экзаменов в 2024 г.</p>
    <h4>ОГЭ нормативные документы 9 класс</h4>
    <ul class="info-list" style="margin-left: 30;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Распоряжение № 1430-р Об утверждении сроках и формах подачи заявлений на ИС-9 и ГИА-9 2024.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ от 04.04.2023 № 232-551 Порядок проведения ГИА-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Информация о датах, порядке проведения и порядке проверки итогового собеседования по русскому языку, а также о сроках, местах и порядке информирования о результатах итогового собеседования в 2024 году на территории Самарской области.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Распоряжение об утверждении порядка проведения ИС-9 на территории Самарской области в 2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Постановление по ФИС от 29.11.2021 № 2085</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ о расписании ОГЭ 2024</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ о расписании ГВЭ 2024</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ О проведении апробации итогового собеседования по русскому языку с применением технологии WEB на территории г.о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Распоряжение № 15-р План-график и требования к тех оснащению при проведении апробации итогового собеседования по русскому языку с применением технологии WEB на территории г.о. Самара</a>
        </li>        
    </ul>
    <h4>ЕГЭ нормативные документы 11 класс</h4>
    <ul class="info-list" style="margin-left: 30;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ об утверждении единого расписания ЕГЭ_2024_ от 18.12.2023 № 953_2116</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ об утверждении единого расписания ГВЭ_2024_ от 18.12.2023 № 955_2118</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Минпросвещения России от 31.10.2023 № 813 «О внесении изменений в описание аттестатов о СОО/аттестата о среднем общем образовании с отличием и приложения к ним, утвержденные приказом Минпросвещения РФ от 5 октября 2020 №545</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Минпросвещения России от 29.09.2023 № 729 «Об утверждении образцов и описаний медалей «За особые успехи в учении» I и II степеней»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Минпросвещения России от 29.09.2023 № 730 «Об утверждении Порядка и условий выдачи медалей «За особые успехи в учении» I и II степеней»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Минпросвещения России от 16.11.2023 № 867 «О внесении изменений в Порядок заполнения, учета и выдачи аттестатов об ООО и СОО и их дубликатов, утвержденный приказом Министерства просвещения РФ от 05.10.2020 № 546</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Распоряжение об утверждении мест регистрации для прохождения ГИА СОО от 27.11.2023 N1332-р</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ МОиН СО от 25.08.23 № 240-од "Об утверждении Порядка формирования предметных комиссий Самарской обл. при проведении ГИА по образ. программам СОО и Положения о предметных комиссиях Самарской обл. при проведении ГИА по образ. программам СОО"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ МОиН СО от 25.08.23 № 239-од "Об утверждении Положения об апелляционной комиссии Самарской области по проведению государственной итоговой аттестации по образовательным программам СОО"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Министерства просвещения Российской Федерации, Федеральной службы по надзору в сфере образования и науки от 04.04.2023 № 233/552 "Об утверждении Порядка проведения государственной итоговой аттестации по образовательным программам СОО"</a>
        </li>                
    </ul>
    <h4>Телефоны горячих линий по вопросам ГИА</h4>
    <p><a href="#">Школьная горячая линия</a>- 8 903 302 2264</p>
    <p>Телефоны Самарского управления:</p>
    <p>340-17-10 - 9 классы; 340-74-32 - 11 классы.</p>
    <p>Телефон министерства образования и науки Самарской области: 333-75-06</p>
    <br>
    <p>1.<a href="#">Министерство образования и науки Самарской области</a></p>
    <p>Министерство образования и науки Самарской области запускает проект «ЕГЭ-2020. Разберем со специалистом». <a href="#">В аккаунтах министерства в социальных сетях </a>ежедневно будут публиковаться видео консультации от председателей предметной комиссии Самарской области, которые помогут выпускникам подготовиться к единому государственному экзамену. Принять участие в нем может каждый выпускник.</p>
    <p>2.<a href="https://sumoin.ru/">Самарское управление министерства образования и науки Самарской области </a></p>
    <p>3.<a href="https://sdamgia.ru/">Образовательный портал для подготовки к экзаменам СДАМ ГИА: РЕШУ ВПР, ОГЭ, ЕГЭ и ЦТ  </a></p>
    <p>4.<a href="http://www.fipi.ru/">ФИПИ - "Федеральный институт педагогических измерений"</a> Уважаемые выпускники! В данном разделе сайта ФИПИ специалистами для вас собраны актуальные материалы, которые помогут подготовиться к единому государственному экзамену.</p>
    <h4>Актуальные нормативные документы:</h4>
    <ul class="info-list" style="margin-left: 30;">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Федеральный закон от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Минпросвещения России и Рособрнадзора от 18.05.2020 № 237/588 «О признании утратившими силу некоторых приказов Министерства просвещения Российской Федерации и Федеральной службы по надзору в сфере образования и науки, утверждающих единое расписание государственной итоговой аттестации по образовательным программам основного общего и среднего общего образования и продолжительность экзаменов по каждому учебному предмету»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Методические рекомендации по организации подготовки обучающихся по образовательным программам основного общего и среднего общего образования к ГИА в условиях сложившейся эпидемиологической ситуации. (Письмо Рособрнадзора от 01.04.2020 № 10-167)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Порядок проведения ГИА по образовательным программам среднего общего образования (приказ Минпросвещения РФ и Рособрнадзора от 07.11.2018 №190/1512)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Порядок проведения ГИА по образовательным программам основного общего образования (приказ Минпросвещения РФ и Рособрнадзора от 07.11.2018 № 189/1513)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Образец заявления на ЕГЭ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="https://www.garant.ru/products/ipo/prime/doc/400010676/">Порядок заполнения, учета и выдачи аттестатов об основном общем и среднем общем образовании и дубликатов (приказ Минпросвещения России от 05.10.2020 №546)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Приказ Рособрнадзора от 18.11.2016 № 1967 «Об определении минимального количества баллов единого государственного экзамена, подтверждающего освоение образовательной программы среднего общего образования, и минимального количества баллов единого государственного экзамена, необходимого для поступления в образовательные организации высшего образования на обучение по программам бакалавриата и программам специалитета»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Письмо Минобрнауки России от 20.11.2013 № ДЛ-345/17 «О сроках действия свидетельств о результатах ЕГЭ»</a>
        </li>
                       
    </ul>
</div>
{% endblock %}