<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}О приеме в первый класс{% endblock %}

{% block content %}
<h1 class="text-center">РОДИТЕЛЯМ ПЕРВОКЛАССНИКОВ 2024 ГОДА</h1>
<h5 class="text-center">Уважаемые родители!</h5>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о зачислении в 1 класс МБОУ Школа №70 от 2.07.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ о завершении первой волны приема заявлений в 1 класс.</a>
        </li>
    </ul>
    <h5>Реестр заявлений в 1 класс:</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Реестр от 02.05.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Реестр от 05.04.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Реестр от 04.04.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Реестр от 03.04.2024г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Реестр от 02.04.2024г.</a>
        </li>
    </ul>
    <br>
    <p>В МБОУ Школе № 70 г.о. Самара работает «горячая линия» вопросу поступления граждан в первый класс тел. 336-47-42.</p>
    <p>Ротина Наталья Ивановна, ответственный за прием в 1 класс, тел. 336-47-42.</p>
    <p>Директор – Косилова Елена Васильевна, тел. 338-19-16</p>
    <p>В соответствии с информацией, размещенной на официальном сайте министерства образования и науки Самарской области, прием заявлений в 1-ый класс МБОУ Школа №70 на 2024/2025 учебный год будет осуществляться c <A>01.04.2024 в 9:00 (не раньше)</A> через «Портал образовательных услуг».</p>
    <p>Предоставление в школу копий документов и оригиналов осуществляется с 01.06.2024 по 30.06.2024 по графику (график будет на сайте в конце мая)</p>
    <p>Вся подробная информация на сайте <a href="https://educat.samregion.ru/category/activity/priem-v-1-klass/">Министерства образования</a></p>
    <br>
    <h5>Заявление подается:</h5>
    <p>в электронной форме посредством ЕПГУ,С 18 марта 2024 года будет открыто предзаполнение заявлений гражданами на ЕПГУ;</p>
    <p>с использованием функционала (сервисов) региональных государственных информационных систем субъектов Российской Федерации, созданных органами государственной власти субъектов Российской Федерации (при наличии), интегрированных с ЕПГУ;</p>
    <p>через операторов почтовой связи общего пользования заказным письмом с уведомлением о вручении;</p>
    <p>лично в общеобразовательную организацию.</p>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ № 458 от 2 сентября 2020 г. «Об утверждении Порядка приема на обучение по образовательным программам начального общего, основного общего и среднего общего образования»</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приказ №160 от 21 февраля 2024 года "Об утверждении минимально необходимых пановых показателей численности обучающихся первых классов для приема граждан, подлежащих обучению в муниципальных общеобразовательных учреждениях г.о. Самара в 2024-2025 учебном году"</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Информация об ответственности родителей (законных представителей) за фиктивную регистрацию граждан РФ по месту пребывания или по месту жительства с целью зачисления в первый класс общеобразовательного учреждения.</a>
        </li>
    </ul>
    <br>
    <p>Прием заявлений в 1-ый класс на 2024/2025 учебный год будет осуществляться через «Портал образовательных услуг».</p>
    <p>Для самостоятельной подачи заявления о зачислении ребёнка в 1-ый класс необходима авторизация в федеральной государственной информационной системе «Единый портал государственных и муниципальных услуг (функций)» (далее — ЕПГУ). С 18 марта 2024 года будет открыто предзаполнение заявлений гражданами на ЕПГУ. Е-услуги предварительно будут фильтровать дубли-заявлений.</p>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Территория, закрепленная за МБОУ Школой № 70 г. о. Самара</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Перечень документов для зачисления в 1 класс</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Бланк заявления в 1 класс </a>
        </li>
    </ul>
    <h5>График приема документов будущих первоклассников</h5>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">День</th>
                <th scope="col">Время</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Понедельник</td>
                <td>10:00 - 18:00</td>
            </tr>
            <tr>
                <td>Четверг</td>
                <td>09:00 - 16:00</td>
            </tr>
            <tr>
                <td>Пятница</td>
                <td>09:00 - 16:00</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h5>Нормативная правовая база</h5>
    <p>1. <a href="http://government.ru/docs/all/70678/">Распоряжение Правительства РФ от 17.12.2009 № 1993-р</a> «Об утверждении сводного перечня первоочередных государственных и муниципальных услуг, предоставляемых в электронном виде».</p>
    <p>2. <a href="http://www.kremlin.ru/acts/bank/31584">Федеральный закон от 27.07.2010 № 210-ФЗ (ред. от 15.02.2016)</a> «Об организации предоставления государственных и муниципальных услуг».</p>
    <p>3. <a href="https://www.garant.ru/products/ipo/prime/doc/55071207/">Распоряжения Правительства РФ от 25 апреля 2011 г. № 729-р</a> «Об утверждении перечня услуг, оказываемых государственными и муниципальными учреждениями и другими организациями, в которых размещается государственное задание (заказ) или муниципальное задание (заказ), подлежащих включению в реестры государственных или муниципальных услуг и предоставляемых в электронной форме».</p>
    <p>4. <a href="http://government.ru/docs/9462/">Распоряжение Правительства РФ от 25.12.2013 № 2516-р</a> «Об утверждении Концепции развития механизмов предоставления государственных и муниципальных услуг в электронном виде»</p>
    <p>5. <a href="https://www.garant.ru/products/ipo/prime/doc/71429216/">Распоряжение Правительства РФ от 1 ноября 2016 г. № 2326-р</a> Перечень документов и сведений, находящихся в распоряжении отдельных федеральных органов исполнительной власти и необходимых для предоставления государственных и муниципальных услуг исполнительным органам государственной власти субъектов Российской Федерации и органам местного самоуправления.</p>
    <p>6. <a href="https://www.garant.ru/products/ipo/prime/doc/74526876/">Приказ Минпросвещения России от 02.09.2020 № 458</a> «Об утверждении Порядка приема на обучение по образовательным программам начального общего, основного общего и среднего общего образования».</p>
    <br>
    <h5>Приказы и постановления Департамента образования Администрации городского округа Самара</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="https://rg.ru/2014/04/11/priem-dok.html">Порядок приема граждан на обучение по образовательным программам начального общего, основного общего  и среднего общего образования осуществляется на основании приказа Минобрнауки России от 22.01.2014 № 32. </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Постановление Администрации городского округа Самара. О внесении изменения в постановление Администрации городского округа Самара от 26.06.2017 N 518 "О закреплении муниципальных общеобразовательных учреждений городского округа Самара за территориальными участками городского округа Самара и признании утратившими силу отдельных муниципальных правовых актов городского округа Самара"</a>
        </li>
    </ul>
    <br>
    <h5>Документы, обеспечивающие организационно-правовую деятельность МБОУ Школы №70 г.о. Самара</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Лицензия от 22.01.2016 года</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приложение к Лицензии от 22.01.2016 года</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Свидетельство о постановке на учет в ФНС</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Свидетельство о внесении в ЕГРЮЛ</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Свидетельство о Государственной аккредитации от 2.03.2016</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Приложение к Свидетельству Государственной аккредитации</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Устав</a>
        </li>
    </ul>
    <br>
    <h5>Образовательные программы</h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа (начальное общее образование)  МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа (основное общее образование)  МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Основная образовательная программа (среднее общее образование)  МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
    </ul>
    <br>
    <h5>Локальные акты: </h5>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ПОЛОЖЕНИЕ  "О приеме в 1 класс в МБОУ Школу № 70 г.о. Самара" (о льготных категориях).</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Изменение в положение "О приеме в 1 класс в МБОУ Школу № 70 г.о. Самара 2022г."</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Изменение в положение "О приеме в 1 класс в МБОУ Школу № 70 г.о. Самара 2023г."</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Изменение в положение "О приеме в 1 класс в МБОУ Школу № 70 г.о. Самара 2024г."</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">ПОЛОЖЕНИЕ "Права и обязанности обучающихся, правила внутреннего распорядка учащихся".</a>
        </li>
    </ul>
    <div style="max-width: 500px;">
        <img src="{{ url_for('static', filename='img/v_1_klass.jpg') }}" alt="v_1_klass.jpg" style="width: 100%;">
    </div>
</div>
{% endblock %}