<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Оборудование для школьной столовой{% endblock %}

{% block content %}
<h1 class="text-center">Оборудование для школьной столовой</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <h5>Наличие столовой и пищеблока   - имеются</h5>  
        </li>
        <li>
            <h5>Число посадочных мест в столовой  - 80 мест</h5>
        </li>
        <li>
            <h5>Состояние мебели в обеденном зале  - исправное</h5>
        </li>
        <li>
            <h5>Обеспеченность холодильным и технологическим оборудованием, его техническое состояние в соответствии с установленными требованиями (перечислить виды оборудования):</h5>
        </li>
        <ul class="info-list">
            <li>
                <p style="margin-left: 20px; font-size: 18;">холодильник (2 шт.),</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">шкаф  холодильный  (2шт.),</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">мясорубка (2 шт.),</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">шкаф жарочный,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">электромармит,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">электроплита (2 шт.),</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">универсальный привод,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">картофелечистка,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">весы почтовые,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">весы электронные ( 2 шт.)</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">посудомоечная машина,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">электросковорода,</p>
            </li>
            <li>
                <p style="margin-left: 20px; font-size: 18;">водонагреватель (5 шт.)</p>
            </li>
        </ul>
        <li>
            <h5>Оборудование  в рабочем состоянии, имеется   акт   проверки   технологического оборудования.</h5>
        </li>
    </ul>
</div>
{% endblock %}