<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Образование{% endblock %}

{% block content %}
<h1 class="text-center">Образование</h1>
<h5>Срок действия Государственной аккредитации - 30.04.2026</h5>
<p>Для обучающихся по АООП НОО (варианты 7.1, 5.1, 6.1) рабочие программы учебных предметов, учебных курсов (в том числе внеурочной деятельности), учебных модулей, программа формирования УУД соответствуют требованиям в ФГОС НОО и ФОП НОО.</p>
<div style="margin-top: 30px;">
    <ul class="info-list" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Лицензия от 22.01.2016 года</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Приложение к Лицензии от 22.01.2016 года</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Свидетельство о Государственной аккредитации от 2.03.2016</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Приложение к Свидетельству Государственной аккредитации</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Положение о рабочей программе на уровне СОО МБОУ Школы №70 г.о. Самары</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Календарный учебный график МБОУ Школы №70 г.о. Самара на 2023-2024 уч. год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Основная образовательная программа (начальное общее образование)  МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Основная образовательная программа (основное общее образование)  МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Основная образовательная программа (среднее общее образование)  МБОУ Школы № 70 г.о. Самара (ФОП ООП) 2023г.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная общеобразовательная программ начального общего образования для слабовидящих детей (вариант 4.1) с учетом ФГОС НОО</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школы №70 г.о. Самара начального общего образования для детей с ТНР (вариант 5.1., 1-4 классы) с учетом ФГОС НОО</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школа №70  г.о. Самара начального общего образования для детей с задержкой психического развития (вариант 7.1., 1-4 классы) с учетом ФГОС НОО</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школа №70  г.о. Самара начального общего образования для детей с задержкой психического развития (вариант 7.2., 1-4 классы) с учетом ФГОС НОО</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школа №70  г.о. Самара основного общего образования для детей с задержкой психического развития (5-9 классы) с учетом ФГОС ООО</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">УЧЕБНЫЙ ПЛАН начального общего образования на 2023-2024 учебный год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">УЧЕБНЫЙ ПЛАН основного общего образования на 2023-2024 учебный год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">УЧЕБНЫЙ ПЛАН среднего общего образования на 2023-2024 учебный год</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Рабочая программа воспитания МБОУ Школа №70 (срок реализации 2023-2028 гг)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">План воспитательной работы школы на 2023-2024 уч. год. (основное общее образование)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">План воспитательной работы школы на 2023-2024 уч. год. (среднее общее образование)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">План воспитательной работы школы на 2023-2024 уч. год. (начальное общее образование)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Концепция развития МБОУ Школы №70 на 2022-2024 гг.</a>
        </li>
        <br>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Уровни образования</a>
        </li> 
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="{{ url_for('iato.rab_prog') }}">Рабочие программы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="{{ url_for('iato.arhiv') }}">Архив</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="{{ url_for('iato.sypo') }}">Специальные условия получения образования</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="{{ url_for('iato.vpr') }}">ВПР</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="{{ url_for('iato.vneyroch_deyat') }}">Внеурочная деятельность</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Кружковая работа</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Нормативный срок обучения</a>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 500; margin-left: 8px;">Форма обучения - очная</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 500; margin-left: 8px;">Обучение и воспитание в школе ведется на русском языке</p>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Численность обучающихся</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Информация о занятости выпускников </a>
        </li>      
    </ul>
</div>
{% endblock %}