<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Сведения об образовательной организации{% endblock %}

{% block content %}
<h1>Основные сведения</h1>
<div style="margin-top: 30px;">
    <h4>Полное наименование образовательной организации:</h4>
    <p>муниципальное бюджетное общеобразовательное учреждение «Школа № 70 имени Героя Советского Союза А.В. Мельникова» городского округа Самара</p>
    <h4>Сокращенное наименование образовательной организации:</h4>
    <p>МБОУ Школа №70 г.о. Самара</p>
    <h4>Дата создания образовательной организации:</h4>
    <p>1 сентября 1959 года. <a href="{{ url_for('iato.istor_sprav') }}">Историческая справка</a> </p>
    <h4>Учредитель:</h4>
    <p>Функции и полномочия учредителя осуществляет Администрация городского округа Самара Адрес: 443010, Приволжский Федеральный округ, Самарская область, г. Самара, ул. Куйбышева, 137</p>
    <p>Телефон: 8 (846) 332-30-44, 8 (846) 333-47-45</p>
    <p>E-mail: vopros@samadm.ru</p>
    <p>Сайт: <a href="http://samadm.ru">http://samadm.ru</a></p>
    <h4>О наименовании представительств и филиалов образовательной организации:</h4>
    <p>представительств и филиалов МБОУ Школа №70 не имеет</p>
    <h4>Место нахождение образовательной организации:</h4>
    <p>443030 Приволжский Федеральный округ, г. Самара ул. Коммунистическая, 7.</p>
    <p>443030 Приволжский Федеральный округ, г. Самара ул. Ульяновская д.99 (<a href="{{ url_for('iato.doschool') }}">дошкольное отделение</a>)</p>
    <h4>Режим работы:</h4>
    <p>Понедельник – Пятница 8.00-16.00; Суббота 8.00-13.00</p>
    <h4>График работы:</h4>
    <p>Понедельник - Суббота</p>
    <p>выходной день - Воскресенье</p>
    <h4>Контактные телефоны образовательной организации:</h4>
    <p>тел: 8 (846) 338-19-16</p>
    <p>тел: (846) 336-47-42</p>
    <h4>Ф.И.О руководителя образовательной организации:</h4>
    <p>Косилова Елена Васильевна</p>
    <p>Время приема:</p>
    <p>Адрес эл. почты: <a href="">so_sdo.school_70@samara.edu.ru</a></p>
    <p>Адрес сайта:  <a href="">http://mbousch70.ru/</a></p>
    <h4>Дополнительно</h4>
    <p>Городской центр «Семья» 443000, г. Самара, ул. А. Толстого, д.34, 333-33-60 (социальная защита и психологическая поддержка детей, подростков и их родителей).</p>
    <p><a href="https://www.samregion.ru/authorities/others/upolnomochennyj-po-pravam-rebenka-v-samarskoj-oblasti/">Уполномоченный по правам ребенка в Самарской области</a></p>
    <p><a href="https://www.samadm.ru/authority/leninsky_district/">Администрация Ленинского района города Самары</a></p>
    <p><a href="https://samadm.ru/authority/the_department_of_education/">Департамент образования Администрации городского округа Самара</a></p>
    <p><a href="https://sumoin.ru/">Самарское управление Министерства образования и науки</a></p>
    <div style="max-width: 600px;">
        <img src="{{ url_for('static', filename='img/3.jpg') }}" alt="3.jpg" style="width: 100%;">
    </div>
    <p style="margin-top: 20px;"><a href="">План-схема безопасного подхода к образовательному учреждению МБОУ Школа № 70 г.о.Самара</a></p>
</div>
{% endblock %}
