<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Рабочие программы{% endblock %}

{% block content %}
<h1 class="text-center">Рабочие программы</h1>
<div style="margin-top: 30px;">
    <ul class="info-list" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Самарское Управление План введения ФГОС СОО и ФООП Приказ 137-од_2023</a>
        </li>  
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Самарская область План введения ФГОС СОО, ФООП_2023</a>
        </li>   
    </ul>
    <h5>Начальное общее образование</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Русский язык 1-4 (ФРП)</a>
        </li>   
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Литературное чтение 1-4(ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Английский язык 2-4 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Математика 1-4 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Окружающий мир 1-4 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Изобразительное искусство 1-4 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Физическая культура 1-4 (ФРП) </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Технология 1-4 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы религиозных культур и светской этики 4 (ФРП)</a>
        </li> 
    </ul>
    <h5>Основное общее образование 5-9</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Русский язык 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Литература 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Математика 5-6 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Алгебра 7-9 (ФРП) Геометрия 7-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Вероятность и статистика 7-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Информатика 5-6 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Информатика 7-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Физика 7-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Химия 8-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Биология 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">География 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Английский язык 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Французский язык 5-9</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">История 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Обществознание 6-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Музыка 5-8 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Изобразительное искусство 5-7 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы безопасности жизнедеятельности  8-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Технология 5-9 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">ОДНКНР 5-6 (ФРП)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Физическая культура 5-9 (ФРП)</a>
        </li>
    </ul>
    <ul class="info-list" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Рабочая программа индивидуально-групповых занятий по математике 5 класс.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Рабочая программа индивидуально-групповых занятий по математике 6 класс.</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Рабочая программа индивидуально-групповых занятий по математике 8 класс.</a>
        </li>
    </ul>
    <h5>Среднее общее образование 10-11</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Русский язык 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Литература 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Литература 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Английский язык 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Английский язык 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Французский язык 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Алгебра 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Алгебра 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Геометрия 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Геометрия 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Вероятность и статистика (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Вероятность и статистика (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">История 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">История 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Обществознание 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Обществознание 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">География 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">География 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Физика 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Физика 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Биология 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Биология 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Химия 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Химия 10-11 (углубленный уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Физическая культура 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы безопасности жизнедеятельности 10-11 (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Информатика (базовый уровень)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Информатика (углубленный уровень)</a>
        </li>
    </ul>
    <h5>Элективные курсы</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Математика: Избранные вопросы математики 10-11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Базовые основы информатики 10</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Русский язык: теория и практика 10-11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Научные вопросы физики 10-11</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы предпринимательства и маркетинга</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы медицинских знаний</a>
        </li>
    </ul>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-i.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="{{ url_for('iato.vneyroch_deyat') }}">Внеурочная деятельность</a>
        </li>
    </ul>
</div>
{% endblock %}