<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Регистрация на портале ГосУслуги{% endblock %}

{% block content %}
<h1 class="text-center">Регистрация на портале ГосУслуги</h1>
<div style="margin-top: 30px;">
    <p>С 1 мая 2017 года доступ в АСУ РСО с использованием логина и пароля для педагогов, родителей, а впоследствии и для обучающихся старше 14 лет будет закрыт. Для входа в АСУ РСО будут использоваться данные, указанные при регистрации на портале <a href="https://esia.gosuslugi.ru">ГосУслуги.</a></p>
    <p>Все граждане, еще не зарегистрировавшиеся на ГосУслугах, могут сделать это самостоятельно или обратившись в МФЦ, отделения «Почта России», Пенсионный Фонд России для подтверждения своей личности.</p>
    <h5>1. Как создать электронную запись на портале ГосУслуги?</h5>
    <div style="max-width: 851px;">
        <img src="{{ url_for('static', filename='img/reg_na_gy.jpg') }}" alt="reg_na_gy.jpg" style="width: 100%;">
    </div>
    <br>
    <h5>2. <a href="#">Регистрация на портале «Госуслуги»</a></h5>
    <p>1. Регистрация Упрощенной учетной записи. Перейти на сайт <a href="https://www.gosuslugi.ru/">https://www.gosuslugi.ru</a> Укажите в регистрационной форме фамилию, имя, мобильный телефон или e-mail. После клика на кнопку регистрации вы получите ссылку на страницу оформления пароля.</p>
    <p>2. Подтверждение личных данных — создание Стандартной учетной записи. Заполните профиль пользователя — укажите СНИЛС и данные документа, удостоверяющего личность (Паспорт гражданина РФ, для иностранных граждан — документ иностранного государства). Данные проходят проверку в ФМС РФ и Пенсионном фонде РФ. На ваш электронный адрес будет направлено уведомление о результатах проверки.</p>
    <p>3. Подтверждение личности — создание Подтвержденной учетной записи. Для оформления Подтвержденной учетной записи с полным доступом ко всем электронным государственным услугам нужно пройти подтверждение личности одним из способов:</p>
    <p>- обратиться в Центр обслуживания (<a href="#">Адреса</a>);</p>
    <p>- получить код подтверждения личности по почте;</p>
    <p>- воспользоваться Усиленной квалифицированной электронной подписью или Универсальной электронной картой (УЭК).</p>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Памятка для родителей</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Инструкция по регистрации в ЕСИА для физического лица​​​​​​​</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Инструкция по входу (авторизации) в систему через ЕСИА​​​​​​​</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link" href="#">Преимущества ЕПГУ</a>
        </li>
    </ul>
</div>
{% endblock %}