<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Специальные условия получения образования{% endblock %}

{% block content %}
<h1 class="text-center">Специальные условия получения образования</h1>
<div style="margin-top: 30px;">
    <ul class="info-list" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная общеобразовательная программ начального общего образования для слабовидящих детей (вариант 4.1) с учетом ФГОС НОО </a>
        </li>  
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школы №70 г.о. Самара начального общего образования для детей с ТНР (вариант 5.1., 1-4 классы) с учетом ФГОС НОО </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школа №70  г.о. Самара начального общего образования для детей с задержкой психического развития (вариант 7.1., 1-4 классы) с учетом ФГОС НОО </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школа №70  г.о. Самара начального общего образования для детей с задержкой психического развития (вариант 7.2., 1-4 классы) с учетом ФГОС НОО </a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Адаптированная основная образовательная программа МБОУ Школа №70  г.о. Самара основного общего образования для детей с задержкой психического развития (5-9 классы) с учетом ФГОС НОО </a>
        </li>
    </ul>
    <h1 class="text-center">Рабочие программы специальных условий получения образования</h1>
    <div style="margin-top: 30px;">
        <h5>Основное общее образование</h5>
        <ul class="info-list" style="margin-left: 20px;" >
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Русский язык 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Литература 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Обществознание 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">История 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Англ. яз. 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Франц. яз. 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Алгебра 7-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Математика 5-6</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Геометрия 7-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Информатика 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физика 7-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Вероятность и статистика 7-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Биология 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Химия 8-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">География 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ОБЖ 8-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ОДНКНР 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Технология 5-9</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ИЗО 5-7</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Музыка 5-8</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физкультура 5-9</a>
            </li>        
        </ul>
        <h5>Начальное общее образование</h5>
        <ul class="info-list" style="margin-left: 20px;" >
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Русский язык 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Литература 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Англ. яз. 2-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Математика 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ОРКСЭ 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Окружающий мир 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Технология 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">ИЗО 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Музыка 1-4</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физкультура 1</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физкультура 2</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
                <a style="font-size: 18px; font-weight: 400;" class="nav-link" href="#">Физкультура 3</a>
            </li>        
        </ul>
    </div>
</div>
{% endblock %}