<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Выдающиеся выпускники школы{% endblock %}

{% block content %}
<h1 class="text-center">Выдающиеся выпускники школы</h1>
<div style="margin-top: 30px;">
    <ul class="info-list">
        <li>
            <p style="font-size: 18px; font-weight: 400;">Мартышкин Сергей Алексеевич выпускник 1980 года - доктор исторических наук, профессор, заведующий кафедрой государственного и муниципального управления Самарского Государственного Университета</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Ананишнев Владимир Максимович   выпускник  1970 года - доктор социологических наук, профессор, академик Российской Академии естественных наук, проректор по международным связям в Московском городском педагогическом университете.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Куриленко Людмила Васильевна выпускница 1973 года - доктор педагогических наук. Заведующая кафедрой теории и технологии социальной работы, профессор Самарского Государственного Университета.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Цирова Ирина Семёновна выпускница 1972 года - доцент, кандидат физико-математических наук преподаватель Самарского Государственного Университета.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Шумский Александр Владимирович выпускник 1980 года – доктор медицинских наук, профессор, заведующий кафедрой стоматологии Самарского медицинского института «РЕАВИЗ» .</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Ерошевская Елена Брониславовна выпускница 1970 года - доцент,  профессор Самарской офтальмологической больницы  имени Т.И.Ерошевского.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Китайчик Сергей Михайлович выпускник 1976 года - «ЗАСЛУЖЕННЫЙ ВРАЧ РОССИЙСКОЙ ФЕДЕРАЦИИ» главный врач Детской городской больницы № 5.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Рылеев Виталий Владимирович  выпускник 1985 года – журналист, автор и ведущий программы «Мир увлечений» на  канале TWC-ГИС Самара.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Александр Аленин – выпускник 1983 года, геройски погиб в Афганистане. Младший сержант Александр Аленин  награжден орденом «Красной Звезды», медалью «Воину-интернационалисту от благодарного афганского народа», Грамотой Президиума Верховного Совета СССР   «Воину-интернационалисту», подписанной первым президентом СССР Горбачевым Михаилом Сергеевичем.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Носов Андрей Юрьевич – выпускник 1976 года, окончил Ивановское пожарно-техническое училище МВД СССР. Возглавлял в 2003 году центр Управления государственной противопожарной службы МЧС России по Самарской области. Полковник в отставке Носов А. Ю. награжден:  «Орденом Мужества» и медалью «За спасение погибавших».</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Храменков Алексей  Анатольевич – выпускник 1983 года, окончил школу летчиков - космонавтов и Сызранское военное училище. После окончания Военно-Воздушной академии  им. Ю.А. Гагарина в 1995 году, направлен служить в Хабаровский край командиром вертолетной эскадрильи в авиационном полку. С 1998 года подполковник Храменков Алексей Анатольевич – заместитель начальника ЦСК ВВС города Самары по полетной подготовке. Начальник аэроклуба ЦСК ВВС.</p>
        </li>
        <li>
            <p style="font-size: 18px; font-weight: 400;">Коновалов Андрей - выпускник 2003 года, окончил Самарский государственный экономический университет в 2008 году. Занимает первую строчку рейтинга среди тяжеловесов в России - чемпион мира по пауэрлифтингу на IX Всемирных Играх 2013 года по неолимпийским видам спорта и дисциплинам в колумбийском городе Кали. В ноябре 2013 года в Норвегии на Чемпионате  мира IPF  по пауэрлифтингу  в супертяжелой весовой категории установил новый рекорд и стал чемпионом, то есть самым сильным человеком в мире.</p>
        </li>
    </ul>
</div>
{% endblock %}