<link rel="stylesheet" href="{{ url_for('static', filename='css/Iato.css') }}">
{% extends 'main/base.html' %}

{% block title %}Внеурочная деятельность{% endblock %}

{% block content %}
<h1 class="text-center">Внеурочная деятельность</h1>
<div style="margin-top: 30px;">
    <h5>1 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Театр. Творчество. Дети</a>
        </li>   
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Динамическая пауза</a>
        </li> 
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном </a>
        </li> 
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Орлята России</a>
        </li> 
    </ul>
    <h5>2 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">От игры до спектакля</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Шаги к здоровью</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Учимся для жизни 2-4 классы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Примерная рабочая программа по русскому языку для детей инофонов (1-6 класс)</a>
        </li>        
    </ul>
    <h5>3 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">ГТО - путь к здоровью и успеху 3-4</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Избранные вопросы математики</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Учимся для жизни 2-4 классы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Примерная рабочая программа по русскому языку для детей инофонов (1-6 класс)</a>
        </li>        
    </ul>
    <h5>4 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Рассказы по истории Самарского края</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">ГТО - путь к здоровью и успеху_3-4</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы спортивных игр</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Учимся для жизни 2-4 классы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Юнармейцы. Отряд Пламя</a>
        </li>        
    </ul>
    <h5>5 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Спортивные игры</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Рассказы по истории Отечества</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговор о правильном питании</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Путь к успеху</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Примерная рабочая программа по русскому языку для детей инофонов (1-6 класс)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Функциональная грамотность: учимся для жизни</a>
        </li>        
    </ul>
    <h5>6 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Спортивные игры</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Россия - мои горизонты</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Основы православной культуры</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Путь к успеху</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Функциональная грамотность: учимся для жизни</a>
        </li>        
    </ul>
    <h5>7 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">История Самарского края</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Россия - мои горизонты</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Цифровая гигиена (модуль "Информационная безопасность")</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Функциональная грамотность: учимся для жизни</a>
        </li>        
    </ul>
    <h5>8 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">История Самарского края</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Россия - мои горизонты</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Функциональная грамотность: учимся для жизни</a>
        </li>        
    </ul>
    <h5>9 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Россия - мои горизонты</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Функциональная грамотность: учимся для жизни</a>
        </li>        
    </ul>
    <h5>10 класс</h5>
    <ul class="info-list" style="margin-left: 20px;" >
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Нравственные основы семейной жизни</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Разговоры о важном</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 400;" class="nav-link " href="#">Россия - мои горизонты</a>
        </li>        
    </ul>
    <br>
    <ul class="info-list">
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Рабочая программа внеурочной деятельности "Функциональная грамотность: учимся для жизни" 5-9 классы</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Примерная рабочая программа по русскому языку для детей инофонов (1-6 класс)</a>
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/icons8-d.png') }}" alt="icon1">
            <a style="font-size: 18px; font-weight: 500;" class="nav-link " href="#">Примерная рабочая программа по русскому языку для детей инофонов (7-11 класс)</a>
        </li>
    </ul>
</div>
{% endblock %}