{% extends 'admin/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Изменение страницы</h1>
        <form method="POST">
            {{ form.hidden_tag() }}  <!-- для защиты от CSRF атак -->
            
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.slug.label(class="form-label") }}
                {{ form.slug(class="form-control") }}
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                <a href="{{ url_for('pages_bp.pages_all') }}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}