{% extends 'admin/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Разделы для "{{ page.name }}"</h1>
        
        {% if sections %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Порядок расположения</th>
                        <th>Управление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ section.name }}</td>
                            <td>{{ section.order }}</td>
                            <td>
                                <a href="{{ url_for('section_bp.manage_elements', section_id=section.id) }}" class="btn btn-info btn-sm">Управление элементами</a>
                                <a href="{{ url_for('section_bp.edit_section', section_id=section.id) }}" class="btn btn-warning btn-sm">Редактировать раздел</a>
                                <form action="{{ url_for('section_bp.delete_section', section_id=section.id) }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this section?')">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No sections available.</p>
        {% endif %}
        <br>
        <div class="mb-3">
            <a href="{{ url_for('section_bp.create_section', page_id=page.id) }}" class="btn btn-primary mb-3">Создать новый раздел</a>
            <a href="{{ url_for('pages_bp.pages_all') }}" class="btn btn-secondary mb-3">Вернуться к страницам</a>
        </div>
    </div>
{% endblock %}