{% extends 'admin/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Список страниц</h1>
        
        <!-- Кнопка создания новой страницы -->
        <a href="{{ url_for('pages_bp.create_page') }}" class="btn btn-primary mb-3">Создание новой страницы</a>

        {% if pages %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Уникальное название</th>
                        <th>Управление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.id }}</td>
                            
                            <td>{{ page.name }}</td>
                            <td>{{ page.slug }}</td>
                            <td>
                                <a href="{{ url_for('pages_bp.edit_page', page_id=page.id) }}" class="btn btn-warning btn-sm">Изменение названия</a>
                                <a href="{{ url_for('section_bp.manage_sections', page_id=page.id) }}" class="btn btn-warning btn-sm">Изменение контента</a>
                                <a href="#" class="btn btn-warning btn-sm" onclick="previewPage('{{ page.id }}')">Предпросмотр</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет доступных страниц.</p>
        {% endif %}
    </div>
    <!-- Модальное окно -->
    <div id="previewModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Предпросмотр страницы</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="previewContent">Загрузка...</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function previewPage(pageId) {
            fetch(`/page_preview/${pageId}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('previewContent').innerHTML = html;
                    $('#previewModal').modal('show');
                })
                .catch(error => console.error('Ошибка загрузки предпросмотра:', error));
        }
        </script>
{% endblock %}